In [10]:
a = 10
b = 20
def nitin_sum(a, b):
    print(a+b)

In [7]:
nitin_sum()

30

In [8]:
a = 100
b = 100
nitin_sum()

200

In [11]:
nitin_sum(a, b)

30

In [12]:
def sum (a,b):
    print(a+b)
sum(10, 20)

30

In [13]:
sum (500,600)

1100

In [14]:
def multiply(a, b):
    print(a*b)

multiply(5,5)

25

In [15]:
multiply(6000,800000)

4800000000

In [16]:
multiply(674558454,985874584)

665030035220933136

In [18]:
def devide (a, b):
    print(a/b)
devide(10, 50)

0.2

In [19]:
devide(500, 60)

8.333333333333334

In [40]:
def even_odd(start, end):
    for a in range (start, end):
        if a%2 == 0:
            print(a, 'is an even number')
        else:
            print(a, 'is an odd number')

In [41]:
even_odd(1,21)

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number
11 is an odd number
12 is an even number
13 is an odd number
14 is an even number
15 is an odd number
16 is an even number
17 is an odd number
18 is an even number
19 is an odd number
20 is an even number

In [52]:
#Palindrome code with function
def palindrome(number):
    a = number
    b = a
    c = 0
    while a>0:
        d = (a%10)
        c = (c*10)+ d
        a = a//10
    if b == c:
        print('palindrome')
    else:
        print('not palindrome')

In [56]:
palindrome(25555)

not palindrome

In [57]:
palindrome(2)

palindrome

In [58]:
#printing Hello World using fuction

def nitin():
    print('Python')

nitin()

Python

In [62]:

def nitin():
    return 'Python'

nitin()

'Python'

In [60]:
a = nitin()
print(a)

Python

In [66]:
#output: Hello
#You passed: 10

def nitin(x):
    print('Hello')
    print('You passed:', x)

nitin(10)

Hello
You passed: 10

In [1]:
def add(a, b):
    print(a+b)

In [3]:
a = 1
b = 2
add(a,b)

3

In [4]:
add(100,2000)

2100

In [5]:
add(500,600)

1100

In [7]:
add('nitin ', 'yadav')

nitin yadav

In [8]:
def even_odd(start,end):
    for i in range (start, end):
        if i%2==0:
            print(i, 'is an even number')
        elif i%2 !=0:
            print(i, 'is an odd number')

In [9]:
even_odd(1,11)

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number
10 is an even number

In [14]:
even_odd(5001, 5009)

5001 is an odd number
5002 is an even number
5003 is an odd number
5004 is an even number
5005 is an odd number
5006 is an even number
5007 is an odd number
5008 is an even number

In [15]:
even_odd(-10, -1)

-10 is an even number
-9 is an odd number
-8 is an even number
-7 is an odd number
-6 is an even number
-5 is an odd number
-4 is an even number
-3 is an odd number
-2 is an even number

In [56]:
def palindrome(number):
    
    rev = 0
    compare = number
    while number>0:
        n1 = number%10
        rev = (rev*10)+n1
        number = number//10
    
    if compare == rev:
            print(compare, 'is palindrome')
    else:
            print(compare, 'is not palindrome')

In [58]:
palindrome(256)

256 is not palindrome

In [59]:
palindrome(1000)

1000 is not palindrome

In [60]:
palindrome(555)

555 is palindrome

In [61]:
palindrome(565)

565 is palindrome

In [62]:
palindrome(896)

896 is not palindrome

In [63]:
def value_passing_changng(value = 200):
    print(value)

In [64]:
value_passing_changng(500)

500

In [67]:
value_passing_changng()

200

In [69]:
value_passing_changng(600) #when we pass a new values, it gets replaced and the new value will be given as output

600

In [88]:
def add(number):
    return (number+number)

In [91]:
a = add(5)
print(a)

10

In [92]:
def multiply(number):
    return (number*number)

In [94]:
a = multiply(10)
print(a)

100

In [95]:
b = multiply(5)

In [96]:
def multiple_valus(n1, n2):
    return n1*n2

In [97]:
c = multiple_valus(10, 2)
print(c)

20

In [99]:
d = multiple_valus(200000, 59)
print(d)

11800000

In [106]:
def multi_fn (a, b):
    value1 = a+b
    value2 = a*b
    return value1, value2

In [107]:
first, second = multi_fn(10,20)

In [108]:
div = second/first
print(div)

6.666666666666667

In [110]:
multiply = first*second
print(multiply)

6000

In [119]:
def even_odd_from_list(a):
    list1 = 0
    list2 = 0
    for i in a:
        if i%2 == 0:
            list1 = list1 + i
        
    for j in (a):
        if j%3 == 0:
            list2 = list2 + j
            
    print(list1)
    print(list2)

In [120]:
a = [1,2,3,4,5,6,7,100,87,55,54,23,22,44]
even_odd_from_list(a)

232
150

In [121]:
def even_odd_from_list(a):
    list1 = 0
    list2 = 0
    for i in a:
        if i%2 == 0:
            list1 = list1 + i
        
    for j in (a):
        if j%3 == 0:
            list2 = list2 + j
            
    return list1, list2

In [123]:
a = [1,2,3,4,5,6,7,100,87,55,54,23,22,44]
var1, var2 = even_odd_from_list(a)
print(var1+var2)
print(var1*var2)

382
34800

In [130]:
for i in a:
    if i%2 == 0:
        print(i, end=' ')

2 4 6 100 54 22 44

In [149]:
def dict(a):
    emptydict = {}
    for i in a:
        if i in emptydict.keys():
            emptydict[i] = emptydict[i]+1
        else:
            emptydict[i] = 1
    return emptydict

In [150]:
a = 'Nitin Yadav'
result = dict(a)
print(result)

{'N': 1, 'i': 2, 't': 1, 'n': 1, ' ': 1, 'Y': 1, 'a': 2, 'd': 1, 'v': 1}

In [151]:
def dict2(b):
    emptydict = {}
    for i in b:
        if i in emptydict.keys():
            emptydict[i] = emptydict[i]+1
        else:
            emptydict[i] = 1
    return emptydict

In [155]:
b = 'pragati yadav'
result = dict2(b)
print(result)

{'p': 1, 'r': 1, 'a': 4, 'g': 1, 't': 1, 'i': 1, ' ': 1, 'y': 1, 'd': 1, 'v': 1}

In [156]:
for i in range (1,11):
    if i%2 == 0 or i%3 ==  0:
        print(i)

2
3
4
6
8
9
10

In [158]:
for i in range (1,21):
    if i%2 == 0 and i%3 ==  0:
        print(i)

6
12
18

In [159]:
for i in range (12,52):
    if i%3 == 0 and i%5 == 0:
        print(i)

15
30
45

In [165]:
def dict(a):
    emptydict = {}
    for i in a:
        if i in emptydict.keys():
            emptydict[i] = emptydict[i]+1
        else:
            emptydict[i] = 1
    return emptydict

In [166]:
a = "i am nitin yadav"
result1 = dict(a)
print(result1)

{'i': 3, ' ': 3, 'a': 3, 'm': 1, 'n': 2, 't': 1, 'y': 1, 'd': 1, 'v': 1}

In [167]:
def nitin():
    print('Nitin')

In [168]:
nitin()

Nitin

In [169]:
def nitin():
    print('Nitin')

In [171]:
a = nitin()
print(a)

Nitin
None

In [180]:
#Hello
#You passed: 10

def hello(x):
    print('Hello')
    print('You passed:', x)

a = hello(10)

Hello
You passed: 10

In [183]:
def even_odd(x):
    if x%2 == 0:
        print(x, 'is even')
    else:
        print(x, 'is odd')
        
even_odd(2)
even_odd(3)

2 is even
3 is odd

In [186]:
def poem():
    print('I am playing with computer')
    print('Soon I will be master')
    print('You will play my written game')
    print('I will get a huge fame')
poem()

I am playing with computer
Soon I will be master
You will play my written game
I will get a huge fame

In [95]:
def number_entry():
    a = int(input("please enter a number: "))
    b = int(input("please enter a number: "))
    print('The sum is ', a+b)

In [96]:
number_entry()

please enter a number: 6
please enter a number: 6
The sum is  12

In [196]:
def rev(a):
    b = a[::-1]
    return b

In [198]:
a = [2, 4, 6, 3, 5, 2, 6, 43]
check = rev(a)
print(check)

[43, 6, 2, 5, 3, 6, 4, 2]

In [200]:
a = [3, 5, 2, 6, 43]
check1 = rev(a)
print(check1)

[43, 6, 2, 5, 3]

In [202]:
def even_odd(x):
    if x%2 == 0:
        return True
    else:
        return False
        
even_odd(2)

True

In [203]:
even_odd(3)

False

In [206]:
#calling multiple values from a function:

def calculation(a, b, c):
    result1 = a+b+c
    result2 = a*b*c
    result3 = (a+b)*c
    return result1, result2, result3

sum, div, sumdiv = calculation(2,3,4)
print('Sum is:', sum, 'Div is:', div, 'SumDiv is:', sumdiv)

Sum is: 9 Div is: 24 SumDiv is: 20

In [208]:
j, k, l = calculation(10,20,30)
print('Sum is:', j, 'Div is:', k, 'SumDiv is:', l)

Sum is: 60 Div is: 6000 SumDiv is: 900

In [209]:
def even(x):
    if x%2 == 0:
        return True
    else:
        return False

def div(y):
    if even(y) and y%3 == 0:
        return True
    else:
        return False

In [213]:
y = 6
a = div(y)
print(a)

True

In [214]:
y = 18
a = div(y)
print(a)

True

In [215]:
y = 19
a = div(y)
print(a)

False

In [36]:
def fact(a):
    if 1 == 0 or a == 1:
        return 1
    else:
        return a*fact(a-1)
a = int(input('please enter a number '))
print(fact(a))

please enter a number 5
120

In [38]:
#My name is ashu and my age is 28
def line(name, age):
    print('My name is', name, 'and my age is: ', age)

line('Nitin', 30)

My name is nitin and my age is:  30

In [39]:
line('Pragati', 30)

My name is Pragati and my age is:  30

In [51]:
def line1(name, age, place):
    print('My name is', name, 'and my age is:',age,'and', 'I stay in', place)

In [50]:
line1('Nitin', '30', 'Indore')

My name is Nitin and my age is: 30 and I stay in  Indore

In [53]:
line1(name = 'Nitin', age = 30, place = 'Indore')
print(line1)

My name is Nitin and my age is: 30 and I stay in Indore
<function line1 at 0x000001B4EAFCFB50>

In [65]:
#Output: Maths: 85 Physics: 90 Chemistry: 45 Biology: 50
def mark(Maths, Physics, Chemistry, Biology):
    print('Maths:', Maths, 'Physics:', Physics, 'Chemistry:',Chemistry, 'Biology:',Biology)

In [66]:
mark(85,90,45,50)

Maths: 85 Physics: 90 Chemistry: 45 Biology: 50

In [67]:
def mark(Maths =85, Physics = 90, Chemistry = 45, Biology= 50):
    print('Maths:', Maths, 'Physics:', Physics, 'Chemistry:',Chemistry, 'Biology:',Biology)

In [68]:
mark()

Maths: 85 Physics: 90 Chemistry: 45 Biology: 50

In [70]:
def sum(a,b):
    return a+b
a = sum(10,20)
print(a)

30

In [71]:
b = sum(a = 10, b=20)
print(b)

30

In [76]:
a = 10
b = 20
c = lambda x, y : a+b
print(c(a,b))

30

In [78]:
a = 10
b = 20
c = lambda x, y: a*b
print(c(a,b))

200

In [80]:
a = 'Nitin is working'
b = ' at RWS'
c = lambda x,y : a+b
print(c(a,b))

Nitin is working at RWS

In [81]:
a = [10, 20]
b = [30, 40]
c = lambda x, y: a+b
print(c(a,b))

[10, 20, 30, 40]

In [84]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

even = lambda numbers: numbers%2 == 0
odd = lambda numbers: numbers%2 != 0

even_number = []
odd_number = []
for i in numbers:
    if even(i):
        even_number.append(i)
    else:
        odd_number.append(i)
    
print('Even number:', even_number)
print('Odd number:', odd_number)

Even number: [2, 4, 6, 8, 10]
Odd number: [1, 3, 5, 7, 9]

In [85]:
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even = lambda numbers: numbers%2 == 0
odd = lambda numbers: numbers%2 != 0

even_num = []
odd_num = []

for i in numbers:
    if odd(i):
        odd_num.append(i)
    else:
        even_num.append(i)
print('Even number:', even_num)
print('Odd number:', odd_num)

Even number: [2, 4, 6, 8, 10]
Odd number: [1, 3, 5, 7, 9]

In [86]:
a = (int(input('Please enter a number: ')))
for i in range (1,11):
    print(a, '*', i, '=', a*i)

Please enter a number: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [88]:
a = (int(input('Please enter a number: ')))
c = lambda x, y: a*i
for i in range (1,11):
    print(a, '*', i, '=', c(a,i))

Please enter a number: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

In [89]:
a = (int(input('Please enter a number: ')))
c = lambda x, y: a*i
for i in range (1,11):
    print(a, '*', i, '=', c(a,i))

Please enter a number: 5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [100]:
def map_fun(a):
    if a%2 == 0:
        return a


a = [10, 11, 12, 13, 14, 15]
sol = map(map_fun, a)
print(list(sol))

[10, None, 12, None, 14, None]

In [104]:
def nitin_even_odd(a):
    if a%2 == 0:
        return 'The number is even', a
    else:
        return 'The number is odd', a

In [103]:
a = [1,2,3,4,5,6,7,8,9,10]
sol1 = map(nitin_even_odd, a)
print(list(sol1))

[('The number is odd', 1), ('The number is even', 2), ('The number is odd', 3), ('The number is even', 4), ('The number is odd', 5), ('The number is even', 6), ('The number is odd', 7), ('The number is even', 8), ('The number is odd', 9), ('The number is even', 10)]

In [105]:
def divisible_by_2(a):
    if a%2 == 0:
        return a, 'is divisible by 2'
    else:
        return a, 'is not divisible by 2'

a = [1,2,3,4,5,6,7,8,9,10]
print(list(map(divisible_by_2, a)))

[(1, 'is not divisible by 2'), (2, 'is divisible by 2'), (3, 'is not divisible by 2'), (4, 'is divisible by 2'), (5, 'is not divisible by 2'), (6, 'is divisible by 2'), (7, 'is not divisible by 2'), (8, 'is divisible by 2'), (9, 'is not divisible by 2'), (10, 'is divisible by 2')]

In [110]:
def nitin(a):
    if a%2 == 0:
        return 'number', a, 'is even'
    else:
        return 'number', a, 'is odd'

a = [1,2,3,4,5,6,7,8,9,10]
print(list(map(nitin, a)))

[('number', 1, 'is odd'), ('number', 2, 'is even'), ('number', 3, 'is odd'), ('number', 4, 'is even'), ('number', 5, 'is odd'), ('number', 6, 'is even'), ('number', 7, 'is odd'), ('number', 8, 'is even'), ('number', 9, 'is odd'), ('number', 10, 'is even')]

In [112]:
a = [1,2,3,4]
def square_map(a):
    return a*a

sq = list(map(square_map, a))
print(sq)

[1, 4, 9, 16]

In [121]:
a = [1,2,3,4]
print(list(map(lambda a: (a*a), a)))

[1, 4, 9, 16]

In [122]:
a = [1,2,3,4]
b = map(lambda a: a*a, a)
print(list(b))

[1, 4, 9, 16]

In [123]:
a = [1,2,3,4]
b = [10,11,13,14]
#Output: [11, 13, 16, 18]

c = map(lambda a,b : a+b, a, b)
print(list(c))

[11, 13, 16, 18]

In [124]:
a = [1,2,3,4]
b = map(lambda a: a*20, a)
print(list(b))

[20, 40, 60, 80]

In [139]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
def fun_even_odd(a):
    if a%2 == 0:
        print(a, 'is even')
    else: 
        print(a, 'is odd')

b = map(fun_even_odd,a)
print(list(b))

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
[None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None, None]

In [141]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
def fun_even_odd(a):
    if a%2 == 0:
        print(a, 'is even')
    else: 
        print(a, 'is odd')

b = filter(fun_even_odd,a)
print(list(b))

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even
11 is odd
12 is even
13 is odd
14 is even
15 is odd
16 is even
17 is odd
18 is even
19 is odd
20 is even
[]

In [154]:
a = [1,2,3,4,5,6,7,8]
b = map(lambda a: a%2 ==0, a)

#MAP
print(list(b))

#filter
c = filter(lambda a: a%2 ==0, a)
print(list(c))

[False, True, False, True, False, True, False, True]
[2, 4, 6, 8]

In [152]:
from functools import reduce

In [175]:
a = reduce(lambda x,y: x+y, [1,2,3,4,5,6,7,8,9])
print(a)

45

In [177]:
a = [1,2,3]
b = map(lambda a: a+3, a)
print(list(b))

[4, 5, 6]

In [183]:
a = [1,2,3]
b = filter(lambda a: a%2 ==0, a)
print(list(b))

[2]

In [184]:
a = [1,2,3]
b = map(lambda x: x>2, a)
print(list(b))

[False, False, True]

In [186]:
a = [1,2,3]
b = filter(lambda x: x>2, a)
print(list(b))

[3]

In [191]:
c = reduce(lambda a, b: a+b, [1,2,3])
print((c))

6

### filter with map

In [203]:
a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140]
b = map(lambda a: a+1, filter(lambda a:a>50, a))
print(list(b))

[61, 71, 81, 91, 101, 111, 121, 131, 141]

In [208]:
### map with filter

a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140]
b = filter(lambda a:a>50, (map(lambda a: a+1,a)))

print(list(b))

[51, 61, 71, 81, 91, 101, 111, 121, 131, 141]

In [212]:
#map & filter with reduce


a = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100, 110, 120, 130, 140]
b = reduce (lambda a, b: a+b, (filter(lambda a:a>50, (map(lambda a: a+1,a)))))

print(b)

960

# List Comprehension

In [219]:
for i in range (1,6): print(i**3, end=' ')

1 8 27 64 125

In [248]:
a = [i**3 for i in range (1,6)]
print(a)

[1, 8, 27, 64, 125]

In [250]:
#if condition 
a = [i for i in range (1,21) if i%3 == 0]
print(a)

[3, 6, 9, 12, 15, 18]

In [259]:
#if else condition 
a = [i if i%3==0 else 'NA' for i in range (1,31)]
print(a)

['NA', 'NA', 3, 'NA', 'NA', 6, 'NA', 'NA', 9, 'NA', 'NA', 12, 'NA', 'NA', 15, 'NA', 'NA', 18, 'NA', 'NA', 21, 'NA', 'NA', 24, 'NA', 'NA', 27, 'NA', 'NA', 30]

In [230]:
a = [i for i in range (1,11) if i%2==0]
print(a)

[2, 4, 6, 8, 10]

In [242]:
a = [(i, 'is an even number') if i%2==0 else (i,'is an odd number') for i in range (1,21)]
print(a)

[(1, 'is an odd number'), (2, 'is an even number'), (3, 'is an odd number'), (4, 'is an even number'), (5, 'is an odd number'), (6, 'is an even number'), (7, 'is an odd number'), (8, 'is an even number'), (9, 'is an odd number'), (10, 'is an even number'), (11, 'is an odd number'), (12, 'is an even number'), (13, 'is an odd number'), (14, 'is an even number'), (15, 'is an odd number'), (16, 'is an even number'), (17, 'is an odd number'), (18, 'is an even number'), (19, 'is an odd number'), (20, 'is an even number')]

In [261]:
list = []
for i in range (1,6):
    list.append(i)
print(list)

[1, 2, 3, 4, 5]

In [263]:
print([i for i in range (1,6)])

[1, 2, 3, 4, 5]

In [264]:
print([i for i in range (1,11) if i%2==0])

[2, 4, 6, 8, 10]

In [265]:
result = []

for num in range(1, 11):
    if num % 2 == 0:
        result.append(num ** 2)
    else:
        result.append(num ** 3)
print(result)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [266]:
print([i**2 if i%2==0 else i**3 for i in range(1,11)])

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [269]:
a = [1,2,3,4]
b = [3,4,5,6]
c = []
for i in a:
    for j in b:
        if i == j:
            c.append(j)
print(c)

[3, 4]

In [272]:
print([i for i in range (1,5) for j in range (3,9) if i ==j])

[3, 4]

In [1]:
even = []
odd = []

for i in range (1,11):
    if i%2==0:
        even.append(i)
    else:
        odd.append(i)
print(even)
print(odd)

[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [7]:
[i if i%2==0 else i for i in range (1,11)]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
a = [i ** 2 if i % 2 == 0 else i ** 3 for i in range(1,11)]
print(a)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

In [12]:
#Output: [21, 22, 23, 24, 25, 26, 27, 28, 29, 30]
a = []
for i in range (21,31):
    a.append(i)
print(a)

[21, 22, 23, 24, 25, 26, 27, 28, 29, 30]

In [11]:
a = {'name':'nitin', 'age':30}
for i,j in a.items():
    print('Key of the dictionary =', i)
    print('value of the dictionary =', j)

Key of the dictionary = name
value of the dictionary = nitin
Key of the dictionary = age
value of the dictionary = 30

In [20]:
#Output: {'name': 'kamal', 'age': 24}

b = {}

b['name'] = 'nitin'
b['age'] = 30
print('Empty dictionary converted to =  ', b)

Empty dictionary converted to =   {'name': 'nitin', 'age': 30}

In [21]:
a = {}
a['Name'] = 'Nitin'
a['age'] = 30
a['place'] = 'Indore'
print('The dictionary is ', a)

The dictionary is  {'Name': 'Nitin', 'age': 30, 'place': 'Indore'}

In [26]:
#Output {1 : 1 , 2 : 8 , 3 : 27}
a = {}
for i in range(1,4):
    a[i] = i**3
print(a)

{1: 1, 2: 8, 3: 27}

In [28]:
a ={i:i**3 for i in range (1,4)}
print(a)

{1: 1, 2: 8, 3: 27}

In [29]:
cube = {}
for i in range (1,11):
    cube[i] = i**3
print(cube)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [31]:
cube = {i:i**3 for i in range (1,11)}
print(cube)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

In [36]:
#input: fruits = {'mango': 40, 'banana': 10, 'cherry': 20}
#Output: {'mango': 80, 'banana': 20, 'cherry': 40}

fruits = {'mango': 40, 'banana': 10, 'cherry': 20}
newfruits = {}
for i, j in fruits.items():
    newfruits[i] = j*2
print(newfruits)

{'mango': 80, 'banana': 20, 'cherry': 40}

In [42]:
fruits = {'mango': 40, 'banana': 10, 'cherry': 20}
newfruits = {i:j*2 for i,j in fruits.items()}
print(newfruits)

{'mango': 80, 'banana': 20, 'cherry': 40}

In [44]:
#input: {"ashu": 45, "mahesh": 70, "ashwini": 32, "asha": 65}
#Output: {'ashu': 'Pass', 'mahesh': 'Pass', 'ashwini': 'Fail', 'asha': 'Pass'}

result = {"ashu": 45, "mahesh": 70, "ashwini": 32, "asha": 65}
newresult = {}
for i,j in result.items():
    if j>=40:
        newresult[i] = 'pass'
    else:
        newresult[i] = 'fail'
print(newresult)

{'ashu': 'pass', 'mahesh': 'pass', 'ashwini': 'fail', 'asha': 'pass'}

In [46]:
result = {"ashu": 45, "mahesh": 70, "ashwini": 32, "asha": 65}
newresult = {i:('pass' if j>=40 else 'fail') for i,j in result.items()}
print(newresult)

{'ashu': 'pass', 'mahesh': 'pass', 'ashwini': 'fail', 'asha': 'pass'}

In [49]:
a = []
for i in range (1,101):
    a.append(i)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

In [52]:
a = [i for i in range(1,11)]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [56]:
#Find all of the numbers from 11000 that are divisible by 8
for i in range (1,101):
    if i%8 == 0:
        print(i, end = ',')

8,16,24,32,40,48,56,64,72,80,88,96,

In [63]:
a = [i for i in range (1,101) if i%8 == 0]
print(a)

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]

In [66]:
for i in range (1,30):
    if '6' in str(i):
        print(i)

6
16
26

In [67]:
a = [i for i in range (1,40) if '6' in str(i)]
print(a)

[6, 16, 26, 36]

In [94]:
string = "Practice Problems to Drill List Comprehension in Your Head."
for i in string:
    if i == ' ':
        print(len(i), end=' ')

1 1 1 1 1 1 1 1

In [93]:
string = "Practice Problems to Drill List Comprehension in Your Head."
a = len([i for i in string if i == ' '])

In [97]:
string = "Practice Problems to Drill List Comprehension in Your Head."
for i in string:
    if i not in 'aeiouAEIOU':
        print(i, end ='')

Prctc Prblms t Drll Lst Cmprhnsn n Yr Hd.

In [100]:
string = "Practice Problems to Drill List Comprehension in Your Head."
''.join([i for i in string if i not in 'aeiouAEIOU'])

'Prctc Prblms t Drll Lst Cmprhnsn n Yr Hd.'

In [110]:
string = "Practice Problems to Drill List Comprehension in Your Head."
a = string.split()
print(a)

['Practice', 'Problems', 'to', 'Drill', 'List', 'Comprehension', 'in', 'Your', 'Head.']

In [117]:
' '.join(a)

'Practice Problems to Drill List Comprehension in Your Head.'

In [123]:
string = "Practice Problems to Drill List Comprehension in Your Head."
word = string.split()
for i in word:
    if len(i)>=5:
        print(i, end = ', ')

Practice, Problems, Drill, Comprehension, Head.,

In [120]:
string = "Practice Problems to Drill List Comprehension in Your Head."
word = string.split()
[i for i in word if len(i)>=5]

['Practice', 'Problems', 'Drill', 'Comprehension', 'Head.']

In [128]:
string = "Practice Problems to Drill List Comprehension in Your Head."
word = string.split(' ')
for i in word:
    print(len(i), end=' ')

8 8 2 5 4 13 2 4 5

In [130]:
string = "Practice Problems to Drill List Comprehension in Your Head."
word = string.split()
{i:len(i) for i in word}

{'Practice': 8,
 'Problems': 8,
 'to': 2,
 'Drill': 5,
 'List': 4,
 'Comprehension': 13,
 'in': 2,
 'Your': 4,
 'Head.': 5}

In [133]:
string = "Practice Problems to Drill List Comprehension in Your Head."
words = string.split()
{word:len(word) for word in words}

{'Practice': 8,
 'Problems': 8,
 'to': 2,
 'Drill': 5,
 'List': 4,
 'Comprehension': 13,
 'in': 2,
 'Your': 4,
 'Head.': 5}

In [134]:
words = ['data', 'science', 'machine', 'learning']
for i in words:
    print(i)
    print(len(i))

data
4
science
7
machine
7
learning
8

In [136]:
words = ['data', 'science', 'machine', 'learning']
[len(i) for i in words]

[4, 7, 7, 8]

In [137]:
words = ['data', 'science', 'machine', 'learning']
{i:len(i) for i in words}

{'data': 4, 'science': 7, 'machine': 7, 'learning': 8}