In [17]:
a = 'nitin yadav'
print(a.count('n'))
print(a.startswith('n'))
print(a.endswith('v'))
print(a.index('a'))
print(a.lower())
print(a.upper())
print(a.isupper())
print(a.islower())
print(a.title())

2
True
True
7
nitin yadav
NITIN YADAV
False
True
Nitin Yadav

In [18]:
a = 'nitin yadav'
b = a.split()
print(b)

['nitin', 'yadav']

In [21]:
a = 'nitin', 'yadav', 'is', 'in', 'Indore'
' '.join(a)

'nitin yadav is in Indore'

In [38]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
a.sort()
print(a)

[1, 2, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 19, 21, 25]

In [40]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
a.sort(reverse=True)
print(a)

[25, 21, 19, 15, 14, 11, 10, 9, 8, 7, 6, 5, 4, 3, 2, 2, 1]

In [42]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
a.clear()
print(a)

[]

In [46]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
b = a.copy()
print(a)
print(b)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19, 25, 21]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19, 25, 21]

In [44]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
len(a)

17

In [47]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
del(a[0])
print(a)

[2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19, 25, 21]

In [48]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
del(a[-1])
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19, 25]

In [53]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
a.count(2)

2

In [54]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
a.index(25)

15

In [57]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
print(a.pop())
print(a)

21
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19, 25]

In [58]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
a.remove(4)
print(a)

[1, 2, 3, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19, 25, 21]

In [63]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
a.reverse()
print(a)

[21, 25, 19, 11, 14, 15, 2, 10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [65]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
a.sort()
print(a)

[1, 2, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 19, 21, 25]

In [66]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
a.extend(['Nitin', 'Yadav'])
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19, 25, 21, 'Nitin', 'Yadav']

In [70]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
b = ['Nitin', 'Yadav']
a.extend(b)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19, 25, 21, 'Nitin', 'Yadav']

In [71]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19, 25, 21, 'Nitin', 'Yadav']
a.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

In [75]:
a = ['Yadav', 'Nitin']
a.sort()
print(a)

['Nitin', 'Yadav']

In [77]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
len(a)

17

In [78]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
min(a)

1

In [79]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
max(a)

25

In [87]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
a.append(10)
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19, 25, 21, 10]

In [98]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21]
a.insert(0, 10)
print(a)

[10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19, 25, 21]

In [80]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21)
type(a)

tuple

In [82]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21)
a.count(2)

2

In [83]:
a = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21)
a.index(4)

3

In [86]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21}
type(a)

set

In [91]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21}
a.add(10)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 19, 21, 25}

In [100]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21}
a.pop()
print(a)

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 19, 21, 25}

In [103]:
a = {3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21}
a.pop()
print(a)

{3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 19, 21, 25}

In [105]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21}
a.discard(25)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 19, 21}

In [106]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21}
a.discard(30)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 19, 21, 25}

In [107]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21}
a.remove(30)

KeyError: 30

In [109]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21}
a.add(500)
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 19, 21, 25, 500}

In [110]:
a = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 15, 14, 11, 19,25,21, 500}
a.add('nitin')
print(a)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 14, 15, 'nitin', 19, 21, 25, 500}

In [116]:
a = []
b = []
for i in range (1,6):
    a.append(i)
print(a)
for j in range (1,6):
    b.append(j)
print(b)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [118]:
c = {'a_value': a, 'b_value':b}
print(c)

{'a_value': [1, 2, 3, 4, 5], 'b_value': [1, 2, 3, 4, 5]}

In [120]:
fruit = {}
fruit['nimbu'] = 20
fruit['apple'] = 30
fruit['pinapple'] = 40
print(fruit)

{'nimbu': 20, 'apple': 30, 'pinapple': 40}

In [121]:
fruit = {'nimbu': 20, 'apple': 30, 'pinapple': 40}
print(fruit['nimbu'])

20

In [122]:
fruit.keys()

dict_keys(['nimbu', 'apple', 'pinapple'])

In [123]:
fruit.values()

dict_values([20, 30, 40])

In [124]:
mydict = {'name': 'ashu', 'age': 30}
mydict['age'] = 50
print(mydict)

{'name': 'ashu', 'age': 50}

In [125]:
a = {'name': 'ashu', 'age': 45, 'gender': 'female'}
a.clear()
print(a)

{}

In [126]:
a = {'name': 'ashu', 'age': 45, 'gender': 'female'}
a.items()

dict_items([('name', 'ashu'), ('age', 45), ('gender', 'female')])

In [129]:
a = {'name': 'ashu', 'age': 45, 'gender': 'female'}
a.pop('age')
print(a)

{'name': 'ashu', 'gender': 'female'}

In [132]:
a = {'name': 'ashu', 'age': 45, 'gender': 'female'}
a.popitem()
print(a)

{'name': 'ashu', 'age': 45}

In [136]:
a = {'name': 'ashu', 'age': 45, 'gender': 'female'}
a.update(gender = 'Male')
print(a)

{'name': 'ashu', 'age': 45, 'gender': 'Male'}

In [139]:
a = {'name': 'ashu', 'age': 45, 'gender': 'female'}
del(a['gender'])
print(a)

{'name': 'ashu', 'age': 45}

In [2]:
a = open('demo.txt', 'w')
a.write('Nitin yadav is working as Sr Talent Manager')
a.close()

In [6]:
b = open('D:\Top Mentor Course\demo.txt', 'w')
b.write('I stay in Indore')
b.close()

In [7]:
b = open('D:\Top Mentor Course\demo.txt', 'w')
b.write('I am learning AI')
b.close()

In [11]:
b = open('D:\Top Mentor Course\demo.txt', 'r')
b.read()

'I am learning AI'

In [14]:
b = open('D:\Top Mentor Course\demo.txt', 'a')
b.write(' .I stay in Indore')
b.close()

In [17]:
c = open('D:\\Top Mentor Course\\filecreation.txt', 'w')
c.write('I am Nitin Yadav')
c.close()

In [18]:
c = open('D:\\Top Mentor Course\\filecreation.txt', 'r')
print(c.read())

I am Nitin Yadav

In [21]:
d = open('D:\\Top Mentor Course\\filecreation.txt', 'a')
d.write(' . I stay in Indore')

19

In [22]:
d = open('D:\\Top Mentor Course\\filecreation.txt', 'w')
d.write(' . I stay in Indore')

19

In [23]:
d = open('D:\\Top Mentor Course\\filecreation.txt', 'a')
d.write(' . I stay in Indore')

19

In [26]:
d = open('D:\\Top Mentor Course\\filecreation.txt', 'a')
d.write(' . I am working at RWS Group')
d.close()

In [27]:
e = open('D:\\Top Mentor Course\\filecreation.txt', 'r')
e.read()

' . I stay in Indore . I stay in Indore . I am working at RWS Group . I am working at RWS Group . I am working at RWS Group'

In [29]:
a = open('D:\\Top Mentor Course\\file creation2.txt', 'r')
a.readline()

'Indore is the largest and most populous city in the Indian state of Madhya Pradesh.[15] It is consistently ranked as the cleanest city in India.[16] It serves as the headquarters of both the Indore District and the Indore Division. It is also considered as the state education hub and houses campuses of both the Indian Institute of Technology and the Indian Institute of Management.[17] Located on the southern edge of Malwa Plateau, at an average altitude of 553 meters (1,814 ft) above sea level,[18] it has the highest elevation among major cities of Central India. The city is 190 km (120 mi) west of the state capital of Bhopal. Indore had a census-estimated 2011 population of 1,994,397 (municipal corporation)[9] and 3,570,295 (urban agglomeration).[10] The city is distributed over a land area of just 530 square kilometres (200 sq mi), making Indore the most densely populated major city in the central province.[19]\n'

In [30]:
a = open('D:\\Top Mentor Course\\file creation2.txt', 'r')
a.readlines()

['Indore is the largest and most populous city in the Indian state of Madhya Pradesh.[15] It is consistently ranked as the cleanest city in India.[16] It serves as the headquarters of both the Indore District and the Indore Division. It is also considered as the state education hub and houses campuses of both the Indian Institute of Technology and the Indian Institute of Management.[17] Located on the southern edge of Malwa Plateau, at an average altitude of 553 meters (1,814 ft) above sea level,[18] it has the highest elevation among major cities of Central India. The city is 190 km (120 mi) west of the state capital of Bhopal. Indore had a census-estimated 2011 population of 1,994,397 (municipal corporation)[9] and 3,570,295 (urban agglomeration).[10] The city is distributed over a land area of just 530 square kilometres (200 sq mi), making Indore the most densely populated major city in the central province.[19]\n',
 '\n',
 'Modern-day Indore traces its roots to its 16th-century founding as a trading hub between the Deccan and Delhi. It was founded on the banks of the Kanh and Saraswati rivers. The city came under the Maratha Empire, on 18 May 1724, after Peshwa Baji Rao I assumed the full control of Malwa. During the days of the British Raj, Indore State was a 19 Gun Salute (21 locally) princely state (a rare high rank) ruled by the Maratha Holkar dynasty, until they acceded to the Union of India.[20] Indore served as the capital of the Madhya Bharat from 1950 until 1956.\n',
 '\n',
 'Indore functions as the financial capital of Madhya Pradesh and was home to the Madhya Pradesh Stock Exchange till its derecognition in 2015.\n',
 '\n',
 "Indore has been selected as one of the 100 Indian cities to be developed as a smart city under the Smart Cities Mission.[21] It also qualified in the first round of Smart Cities Mission and was selected as one of the first twenty cities to be developed as Smart Cities.[22] Indore has been part of the Swachh Survekshan since its inception and had ranked 25th in 2016.[23] It has been ranked as India's cleanest city six years in a row as per the Swachh Survekshan for the years 2017, 2018, 2019, 2020, 2021 and 2022.[24][25][26][27] Meanwhile, Indore has also been declared as India's first 'water plus' city under the Swachh Survekshan 2021. Indore became the only Indian city to be selected for International Clean Air Catalyst Programme. The project, with cooperation of the Indore Municipal Corporation and the Madhya Pradesh Pollution Control Board, will be operated for a period of five years to purify the air in the city."]

# Official Way of writing the code

In [34]:
with open('D:\\Top Mentor Course\\file creation_realtime.txt', 'w') as creation:
    creation.write('I am Nitin yadav, learning data science from Top Mentor.')
    creation.close()

In [36]:
with open('D:\\Top Mentor Course\\file creation_realtime.txt', 'r') as creation_read:
    print(creation_read.read())

I am Nitin yadav, learning data science from Top Mentor.

In [38]:
with open('D:\\Top Mentor Course\\file creation_realtime.txt', 'a') as creation_add:
    creation_add.write('I am working at RWS Indore')
    creation_add.close()

In [40]:
with open('D:\\Top Mentor Course\\file creation2.txt', 'r') as creation_read:
    print(creation_read.readline())

Indore is the largest and most populous city in the Indian state of Madhya Pradesh.[15] It is consistently ranked as the cleanest city in India.[16] It serves as the headquarters of both the Indore District and the Indore Division. It is also considered as the state education hub and houses campuses of both the Indian Institute of Technology and the Indian Institute of Management.[17] Located on the southern edge of Malwa Plateau, at an average altitude of 553 meters (1,814 ft) above sea level,[18] it has the highest elevation among major cities of Central India. The city is 190 km (120 mi) west of the state capital of Bhopal. Indore had a census-estimated 2011 population of 1,994,397 (municipal corporation)[9] and 3,570,295 (urban agglomeration).[10] The city is distributed over a land area of just 530 square kilometres (200 sq mi), making Indore the most densely populated major city in the central province.[19]

In [41]:
with open('D:\\Top Mentor Course\\file creation2.txt', 'r') as full_creation_read:
    print(full_creation_read.readlines())

['Indore is the largest and most populous city in the Indian state of Madhya Pradesh.[15] It is consistently ranked as the cleanest city in India.[16] It serves as the headquarters of both the Indore District and the Indore Division. It is also considered as the state education hub and houses campuses of both the Indian Institute of Technology and the Indian Institute of Management.[17] Located on the southern edge of Malwa Plateau, at an average altitude of 553 meters (1,814 ft) above sea level,[18] it has the highest elevation among major cities of Central India. The city is 190 km (120 mi) west of the state capital of Bhopal. Indore had a census-estimated 2011 population of 1,994,397 (municipal corporation)[9] and 3,570,295 (urban agglomeration).[10] The city is distributed over a land area of just 530 square kilometres (200 sq mi), making Indore the most densely populated major city in the central province.[19]\n', '\n', 'Modern-day Indore traces its roots to its 16th-century founding as a trading hub between the Deccan and Delhi. It was founded on the banks of the Kanh and Saraswati rivers. The city came under the Maratha Empire, on 18 May 1724, after Peshwa Baji Rao I assumed the full control of Malwa. During the days of the British Raj, Indore State was a 19 Gun Salute (21 locally) princely state (a rare high rank) ruled by the Maratha Holkar dynasty, until they acceded to the Union of India.[20] Indore served as the capital of the Madhya Bharat from 1950 until 1956.\n', '\n', 'Indore functions as the financial capital of Madhya Pradesh and was home to the Madhya Pradesh Stock Exchange till its derecognition in 2015.\n', '\n', "Indore has been selected as one of the 100 Indian cities to be developed as a smart city under the Smart Cities Mission.[21] It also qualified in the first round of Smart Cities Mission and was selected as one of the first twenty cities to be developed as Smart Cities.[22] Indore has been part of the Swachh Survekshan since its inception and had ranked 25th in 2016.[23] It has been ranked as India's cleanest city six years in a row as per the Swachh Survekshan for the years 2017, 2018, 2019, 2020, 2021 and 2022.[24][25][26][27] Meanwhile, Indore has also been declared as India's first 'water plus' city under the Swachh Survekshan 2021. Indore became the only Indian city to be selected for International Clean Air Catalyst Programme. The project, with cooperation of the Indore Municipal Corporation and the Madhya Pradesh Pollution Control Board, will be operated for a period of five years to purify the air in the city."]

In [44]:
with open('D:\\Top Mentor Course\\file creation_realtime.txt', 'a') as creation_add:
    creation_add.write('\nI am from Betul')
    creation_add.close()

In [2]:
with open('D:\\Top Mentor Course\\demo.txt', 'w') as a:
    a.write('I am Nitin Yadav')
    a.close()

In [5]:
with open('D:\\Top Mentor Course\\demo.txt', 'r') as b:
    print(b.read())

I am Nitin Yadav

In [11]:
with open('D:\\Top Mentor Course\\demo.txt', 'a') as c:
    c.write('\n as the financial capital of Madhya Pradesh and was home to the Madhya Pradesh Stock Exchange till its derecognition in 2015.')

In [13]:
with open('D:\\Top Mentor Course\\demo.txt', 'r') as d:
    print(d.readline())

I am Nitin Yadavas the financial capital of Madhya Pradesh and was home to the Madhya Pradesh Stock Exchange till its derecognition in 2015.

In [31]:
with open('D:\\Top Mentor Course\\demo.txt', 'r') as d:
    print(d.readlines())

['I am Nitin Yadavas the financial capital of Madhya Pradesh and was home to the Madhya Pradesh Stock Exchange till its derecognition in 2015.\n', ' as the financial capital of Madhya Pradesh and was home to the Madhya Pradesh Stock Exchange till its derecognition in 2015.']

In [16]:
with open('D:\\Top Mentor Course\\demo.txt', 'r') as d:
    print(d.read())

I am Nitin Yadavas the financial capital of Madhya Pradesh and was home to the Madhya Pradesh Stock Exchange till its derecognition in 2015.
 as the financial capital of Madhya Pradesh and was home to the Madhya Pradesh Stock Exchange till its derecognition in 2015.

In [24]:
with open('D:\\Top Mentor Course\\demo.txt', 'r') as d:
    print(d.read(5))

I am

### Exception Handling

In [32]:
print'nitin'

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(...)? (3964716142.py, line 1)

In [38]:
try:
    a = 10
    b = 0
    c = a/b
    print(c)
except Exception as d:
    print(d)

division by zero

In [39]:
a= 10
print(A)

NameError: name 'A' is not defined

In [40]:
try: 
    a= 10
    print(A)
except Exception as d:
    print(d)

name 'A' is not defined

In [46]:
a = [1, 2, 3, 4, 5]
print(a[6])

IndexError: list index out of range

In [47]:
try: 
    a = [1, 2, 3, 4, 5]
    print(a[6])
except Exception as b:
    print(b)

list index out of range

In [50]:
dict = {'a':1, 'b':2, 'c':3, 'd':4}
print(dict[3])

KeyError: 3

In [56]:
try:
    dict = {'a':1, 'b':2, 'c':3, 'd':4}
    print(dict[9])
except Exception as e:
    print(e)

9

In [57]:
if 4<3:
print(4)

IndentationError: expected an indented block after 'if' statement on line 1 (16720218.py, line 2)

In [65]:
try:
    if 4>3:
    print(5)
except Excetion as e:
    print(e)

IndentationError: expected an indented block after 'if' statement on line 2 (1587218134.py, line 3)

In [66]:
try:
    a = 10
    b = 0
    print(a/b)
except Exception as d:
    print(d)

division by zero

In [67]:
a = int('nitin')

ValueError: invalid literal for int() with base 10: 'nitin'

In [68]:
try:
    a = int('nitin')
    print(a)
except Exception as b:
    print(b)

invalid literal for int() with base 10: 'nitin'

In [70]:
try:
    a = int(input('please enter a number'))
except Exception as b:
    print(b)

please enter a numberni
invalid literal for int() with base 10: 'ni'

In [71]:
try:
    a = 'nitin'
    print(A)
except Exception as z:
    print(z)

name 'A' is not defined

In [73]:
try:
    a = int(input('please enter a number: '))
    b = int(a)
except Exception as c:
    print(c)

please enter a number: nitin
invalid literal for int() with base 10: 'nitin'

In [74]:
try:
    a = int(input('please enter a number: '))
    b = int(a)
except Exception as c:
    print(c)

please enter a number: 20

In [86]:
num1 = (input("please enter a number: "))
try:
    num2 = int(num1)
    num3 = 10/num2
    print(num4)

except ValueError:
    print("Please enter a numeric value")
    
except ZeroDivisionError:
    print("Please enter a non-zero value")

except:
    print("Some error occurred")

please enter a number: ni
Please enter a numeric value

In [90]:
num1 = input("please enter a number: ")
try:
    num2 = int(num1)
    num3 = 10/num2
    print(num4)

except ValueError:
    print("please enter a numeric value")
    
except ZeroDivisionError:
    print("please enter a non-zero value")

except (IndexError, NameError):
    print('There is some issue in the code!')

except:
    print("some error occured")

please enter a number: an5
please enter a numeric value

In [94]:
num1 = input('please enter a number: ')
try:
    num2 = int(num1)
    num3 = 10/num2
    print(num4)
except ValueError:
    print('please enter a numeric value')
except ZeroDivisionError:
    print('please enter a non-zero value')
except (IndexError, NameError):
    print('some issue in code!')
except:
    print('some error occured')

please enter a number: 5
some issue in code!

In [96]:
num1 = input('please enter a number: ')
try:
    num2 = int(num1)
    num3 = 10/num2
    print(num3)
except ValueError:
    print('please enter a numeric value')
except ZeroDivisionError:
    print('please enter a non-zero value')
except (IndexError, NameError):
    print('some issue in code!')
except:
    print('some error occured')

please enter a number: -5
-2.0

In [103]:
try:
    age = int(input('please enter your age: '))
    if age<5:
        raise ValueError('not allowed you are less than 5 years of age')
    if age>20:
        raise ValueError('Age is more than 20, not allowed!')
except ValueError as v:
    print(v)

please enter your age: 6

In [108]:
try:
    roll_number = int(input('please enter yourr roll number: '))
    if roll_number<=0:
        raise ValueError ('number nnot positive')

except ValueError:
    print('value error shown')

except Exception as f:
    print(f)

please enter yourr roll number: -1
value error shown

In [110]:
num1 = input('please enter a number: ')
try: 
    num2 = int(num1)
    print(num2)
except Exception as e:
    print(e)
    print('please enter a valid number')

please enter a number: c
invalid literal for int() with base 10: 'c'
please enter a valid number

In [113]:
num1 = input('please enter a number: ')
try: 
    num2 = int(num1)
    print(num2)
except:
    pass

please enter a number: ni

In [115]:
num1 = input('please enter a number: ')
try: 
    num2 = int(num1)
    print(num2)
except Exception:
    print('pleas enter a valid number')

please enter a number: ni
pleas enter a valid number

In [117]:
num1 = input('please enter a number: ')
try: 
    num2 = int(num1)
    print(num2)
except ValueError:
    print('please enter a number')

please enter a number: b
please enter a number

In [124]:
num1 = input("Please enter a number : ")
try:
    num2 = int(num1)
    num3 = 10/num2
    print(num4)
except ValueError:
    print('please enter a numeric value')
except ZeroDivisionError: 
    print('please dont enter 0')
    
except NameError:
    print('please enter correct name')
except:
    print('some error occured')

Please enter a number : +5
please enter correct name

In [2]:
class rectanngle():
    pass
obj = rectanngle()
obj.length = 10
obj.breadth = 20
area = obj.length*obj.breadth
print(area)

200

In [3]:
class nitin():
    a = 10
obj = nitin()
obj1= nitin()

print(obj.a)
print(obj1.a)

10
10

In [9]:
class nitin():
    def pra(x):
        print('I am nitin')
obj = nitin()
obj.pra()

I am nitin

In [20]:
class nitin_rec():
    def rectangle(x):
        return x.length*x.breadth
obj = nitin_rec()
obj.length = 10
obj.breadth = 20
print('The area is= ', obj.rectangle())

The area is=  200

In [22]:
class square():
    def sq_perieter(x):
        return x.side*4
obj = square()
obj.side = 10
print('Perimeter is', obj.sq_perieter())

obj2 = square()
obj2.side = 20
print('Perimeter of obj2 is: ', obj2.sq_perieter())

Perimeter is 40
Perimeter of obj2 is:  80

In [30]:
class add_nitin():
    def add(self):
        return self.length+self.breadth
add = add_nitin()
add.length = 10
add.breadth = 20
print('Sum is: ', add.add())

Sum is:  30

In [27]:
class nitin_data():
    def addinside(x):
        return x.a+x.b
obj1 = nitin_data()
obj1.a = 10
obj1.b = 20
print('Sum is: ', obj1.addinside())

Sum is:  30

In [37]:
class nitin():
    def __init__(self, name,age):
        self.a = name
        self.b = age
        print(self.a)
        print(self.b)
obj = nitin('nitin', 30)

nitin
30

In [42]:
class pragati():
    def __init__(self, name, place):
        self.a = name
        self.b = place
        print(self.a)
        print(self.b)
obj = pragati('pragati', 'indore')

pragati
indore

In [48]:
class operation():
    def __init__(self, L, B):
        self.L = length
        self.B = breadth
    def area(self):
        return self.L*self.B
    def perrimeter(self):
        return 2*(self.L+self.B)
    
obj = operation(10,20)
print(obj.area())
print(obj.perrimeter())

200
60

# Class

In [6]:
class Vehicle():
    def __init__(self, max_speed, mileage):
        self.max_speed = max_speed
        self.mileage = mileage
model = Vehicle(240, 60)
print(model.max_speed, model.mileage)
car_model = Vehicle(260, 45)
print(car_model.max_speed, car_model.mileage)

240 60
260 45

In [54]:
class Vehicle():
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

class Bus(Vehicle):
    pass
    
output = Bus("Volvo", 250, 30)
print('the bus name is', output.name, 'the max speed is', output.max_speed, 'and the mileage is', output.mileage)

the bus name is Volvo the max speed is 250 and the mileage is 30

In [96]:
class Vehicle1():
    def __init__(self, name, maxspeed, mileage):
        self.name = name
        self.maxspeed = maxspeed
        self.mileage = mileage
    
    def seating_capacity(self, capacity):
        return 'The seating capacity of', self.name, 'is', capacity, "passengers."

class Bus(Vehicle1):
    def seating_capacity(self, capacity=50):
        return super() .seating_capacity(capacity=50)

output = Bus('Volvo Bus', 250, 20)
print(output.seating_capacity())

('The seating capacity of', 'Volvo Bus', 'is', 50, 'passengers.')

In [66]:
class Vehicle:
    def __init__(self, name, max_speed, mileage):
        self.name = name
        self.max_speed = max_speed
        self.mileage = mileage

    def seating_capacity(self, capacity):
        return f"The seating capacity of a {self.name} is {capacity} passengers"

class Bus(Vehicle):
    # assign default value to capacity
    def seating_capacity(self, capacity=50):
        return super().seating_capacity(capacity=50)

School_bus = Bus("School Volvo", 180, 12)
print(School_bus.seating_capacity())

The seating capacity of a School Volvo is 50 passengers

In [3]:
class Person():
    def __init__(self, name, age):
        self.name = name
        self.age = age
p1 = Person('Nitin', 31)
print(p1.name)
print(p1.age)

Nitin
31