In [1]:
#Find all of the numbers from 1â€“1000 that are divisible by 8
[i for i in range (1, 100) if i%8 ==0]

[8, 16, 24, 32, 40, 48, 56, 64, 72, 80, 88, 96]

In [10]:
[i for i in range(1,100) if '6' in str(i)]

[6, 16, 26, 36, 46, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 76, 86, 96]

In [14]:
string = "Practice Problems to Drill List Comprehension in Your Head."
len([i for i in string if i==' '])

8

In [18]:
string = "Practice Problems to Drill List Comprehension in Your Head."
"".join([i for i in string if i not in 'aeiouAEIOU'])

'Prctc Prblms t Drll Lst Cmprhnsn n Yr Hd.'

In [21]:
string = "Practice Problems to Drill List Comprehension in Your Head."
wor = string.split()
[i for i in wor if len(i)<5]

['to', 'List', 'in', 'Your']

In [22]:
string = "Practice Problems to Drill List Comprehension in Your Head."
wor = string.split()
[len(i) for i in wor ]

[8, 8, 2, 5, 4, 13, 2, 4, 5]

In [24]:
[i for i in range (1,100) [for j in range(2,10) if i%j==0]]

SyntaxError: invalid syntax (3522532570.py, line 1)

In [30]:
for i in range (1,50):
    for j in range (2,10):
        if i%j==0:
            print(i, end=' ')

2 3 4 4 5 6 6 6 7 8 8 8 9 9 10 10 12 12 12 12 14 14 15 15 16 16 16 18 18 18 18 20 20 20 21 21 22 24 24 24 24 24 25 26 27 27 28 28 28 30 30 30 30 32 32 32 33 34 35 35 36 36 36 36 36 38 39 40 40 40 40 42 42 42 42 44 44 45 45 45 46 48 48 48 48 48 49

In [43]:
numbers = [3,5,45,97,32,22,10,19,39,43]
resuslt = []
for i in numbers:
    if i%2 ==0:
        resuslt.append(i)
print(resuslt)

[32, 22, 10]

In [46]:
numbers = [3,5,45,97,32,22,10,19,39,43]
[i for i in numbers if i%2==0]

[32, 22, 10]

In [52]:
#Create a list from the elements of a range from 1200 to 2000 with steps of 130, using list comprehension.
for i in range (1200, 2001, 130):
    print(i, end=' ')

1200 1330 1460 1590 1720 1850 1980

In [53]:
[i for i in range (1200, 2001, 130)]

[1200, 1330, 1460, 1590, 1720, 1850, 1980]

In [55]:
lst1=[44,54,64,74,104]
lis2 = []
for i in lst1:
    lis2.append(i+6)
print(lis2)

[50, 60, 70, 80, 110]

In [56]:
lst1=[44,54,64,74,104]
[i+6 for i in lst1]

[50, 60, 70, 80, 110]

In [59]:
lst1=[2, 4, 6, 8, 10, 12, 14]
square = []
for i in (lst1):
    square.append(i**i)
print(square)

[4, 256, 46656, 16777216, 10000000000, 8916100448256, 11112006825558016]

In [60]:
lst1=[2, 4, 6, 8, 10, 12, 14]
[i**i for i in lst1]

[4, 256, 46656, 16777216, 10000000000, 8916100448256, 11112006825558016]

In [61]:
lst1=[2, 4, 6, 8, 10, 12, 14]
[i**i for i in lst1 if (i**i)>50]

[256, 46656, 16777216, 10000000000, 8916100448256, 11112006825558016]

In [66]:
# Given dictionary is consisted of vehicles and their weights in kilograms. Contruct a list of the names of vehicles with 
# weight below 5000 kilograms. In the same list comprehension make the key names all upper case.

dict={"Sedan": 1500, "SUV": 2000, "Pickup": 2500, "Minivan": 1600, "Van": 2400, "Semi": 13600, "Bicycle": 7, "Motorcycle": 110}
[i for i in dict if dict[i]<5000]

['Sedan', 'SUV', 'Pickup', 'Minivan', 'Van', 'Bicycle', 'Motorcycle']

In [75]:
list1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
dict1 = {1 : 'one'(, 2 : 'two', 3 : 'three', 4 : 'four', 5 : 'five', 6 : 'six', 7 : 'seven', 8 : 'eight', 9 : 'nine', 10 : 'ten'}
print([i*10 for i in list1])
print([i for i in list1 if i%2!=0])
print([dict1[i] for i in list1 if i%2 ==0])

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
[1, 3, 5, 7, 9]
['two', 'four', 'six', 'eight', 'ten']

In [77]:
def odd_or_zero(a):
    if a%2!=0:
        return a
    else:
        return 0

0

In [79]:
[odd_or_zero(i) for i in list1]

[1, 0, 3, 0, 5, 0, 7, 0, 9, 0]

In [89]:
a = (input('Please enter a number: '))
[dict1[int(i)] for i in a]

Please enter a number: 56

['five', 'six']

In [91]:
a = (input('Please enter a number: '))
output = [dict1[int(i)] for i in a]
'-'.join(output)

Please enter a number: 56

'five-six'

In [93]:
list_a = [5,5,2,10,1,6]
[i**i for i in list_a]

[3125, 3125, 4, 10000000000, 1, 46656]

In [99]:
avengers = ["Iron Man", "Captain America", "Thor", "The Incredible Hulk", "Bla avengers ck Widow", "Hawkeye"]        
[words for words in avengers if len(words)>8]

['Captain America', 'The Incredible Hulk', 'Bla avengers ck Widow']

In [113]:
numbers = list (range (50,150,5))
[i for i in numbers if i%2==0 and i>100]

[110, 120, 130, 140]

In [120]:
string = "Fall is Awesome in Alabama" 
#output = ['%Fall%','%is%','%Awesome%','%in%','%Alabama%']
['%'+i+'%' for i in string.split()]

['%Fall%', '%is%', '%Awesome%', '%in%', '%Alabama%']

In [121]:
[i**3 for i in range (1,6)]

[1, 8, 27, 64, 125]

In [122]:
wordList = ["this", "is", "an", "example"]
[i[0] for i in wordList]

['t', 'i', 'a', 'e']

In [124]:
lst=["NY", "FL", "CA", "VT"]
{i:i for i in lst}

{'NY': 'NY', 'FL': 'FL', 'CA': 'CA', 'VT': 'VT'}

In [131]:
list1 = [i for i in range (100,160, 10)]
{i:i%100 for i in list1}

{100: 0, 110: 10, 120: 20, 130: 30, 140: 40, 150: 50}

In [143]:
dict1={"NFLX":4950,"TREX":2400,"FIZZ":1800, "XPO":1700}
dict2 = {i:j for (i,j) in dict1.items() if j>2000}
print(dict2)

{'NFLX': 4950, 'TREX': 2400}

In [183]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]

# empty dictionary
res_dict = {}

for i in range (len(keys)):
    res_dict.update({keys[i]: values[i]})
print(res_dict)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [187]:
keys = ['Ten', 'Twenty', 'Thirty']
values = [10, 20, 30]
output = {}
for i in range (len(keys)):
    output.update({keys[i]:values[i]})
print(output)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

In [160]:
dict1 = {'Ten': 10, 'Twenty': 20, 'Thirty': 30}
dict2 = {'Thirty': 30, 'Fourty': 40, 'Fifty': 50}
(dict1.update(dict2))
print(dict1)

{'Ten': 10, 'Twenty': 20, 'Thirty': 30, 'Fourty': 40, 'Fifty': 50}

In [200]:
d = {"Alex": 29, "Katherine": 24, "Jonathan": 22}
output = {}
for i,j in d.items():
    output[i] = j+1
    
print(output)

{'Alex': 30, 'Katherine': 25, 'Jonathan': 23}

In [201]:
{x:x**2 for x in range (1, 6)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [215]:
a = [1, 2, 3, 4, 5]
b = map(lambda x: x*3, a)
print(list(b))

[3, 6, 9, 12, 15]

In [222]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8, 9, 10]
c = [11, 12, 13, 14, 15]
list(map(lambda x, y, z: x+y+z, a,b,c))

[18, 21, 24, 27, 30]

In [232]:
color = ['Red', 'Blue', 'Black', 'White', 'Pink'] 
result = map(list, color)
print(list(result))

[['R', 'e', 'd'], ['B', 'l', 'u', 'e'], ['B', 'l', 'a', 'c', 'k'], ['W', 'h', 'i', 't', 'e'], ['P', 'i', 'n', 'k']]

In [242]:
bases_num = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
index = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
b = (map(pow, bases_num, index))
print(list(b))

[10, 400, 27000, 2560000, 312500000, 46656000000, 8235430000000, 1677721600000000, 387420489000000000, 100000000000000000000]

In [245]:
a = [1, 2, 3, 4, 5]
square = map(lambda x: x**2, a)
print(list(square))

[1, 4, 9, 16, 25]

In [249]:
chrars = {'a', 'b', 'E', 'f', 'a', 'i', 'o', 'U', 'a'}
print(chrars)

{'i', 'b', 'a', 'U', 'E', 'o', 'f'}

In [255]:
nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]
add = map(lambda x,y: x+y, nums1, nums2)
diff = map(lambda x,y: x-y, nums1, nums2)
print(list(add))
print(list(diff))
output = add+diff

[6, 6, 10, 16]
[6, 4, -4, 2]

In [257]:
nums1 = [6, 5, 3, 9]
nums2 = [0, 1, 7, 7]
def add_diff(x,y):
    return x+y, x-y
output = map(add_diff, nums1, nums2)
print(list(output))

[(6, 6), (6, 4), (10, -4), (16, 2)]

In [16]:
class Rectangle():
    def __init__(self, length, breadth):
        self.length = length
        self.breadth = breadth
    def multiplication(self):
        return self.length*self.breadth
    def addition(self):
        return self.length+self.breadth
    def subtraction(self):
        return self.length-self.breadth
    def division(self):
        self.breadth//self.length

output = Rectangle(100, 200)
mult = output.multiplication()
add = output.addition()
sub = output.subtraction()
div = output.division()
print(mult)
print(add)
print(sub)
print(div)

20000
300
-100
None

In [30]:
class Parent():
    def __init__(self, name, age):
        self. name = name
        self.age = age
    def get_detail(self):
        print('My name is', self.name, 'and my age is', self.age,'years.')
    
class child(Parent):
    def place(self, place):
        print('place')
    
nitin = Parent('Nitin', 31)
detail = nitin.get_detail()
print(detail)

yadav = child('Nitin', 31)
detail2 = yadav.get_detail()
detail3 = yadav.place()
print(detail3)

My name is Nitin and my age is 31 years.
None
My name is Nitin and my age is 31 years.

TypeError: child.place() missing 1 required positional argument: 'place'