In [7]:
#Question 1: Write a Python program to create an empty tuple.
tuple = ()
print(type(tuple))

<class 'tuple'>

In [4]:
#Question 2: Write a Python program to access the elements of a tuple.
tuple = ("nitin", 'yadav', 'indore')
tuple.index("nitin")
#In tuple we can only know the index number of a value, we cant call it using the index number

0

In [6]:
#Question 3: Write a Python program to concatenate two tuples.
tuple1 = ("nitin", 'yadav', 'indore')
tuple2 = ("bhopal", "India")
tuple3 = tuple1+tuple2
tuple3

('nitin', 'yadav', 'indore', 'bhopal', 'India')

In [8]:
#Question 4: Write a Python program to find the length of a tuple.
tuple1 = ("nitin", 'yadav', 'indore')
len(tuple1)

3

In [9]:
#Question 5: Write a Python program to convert a tuple into a list.
tuple1 = ("nitin", 'yadav', 'indore')
list1 = list(tuple1)
print(list1)

['nitin', 'yadav', 'indore']

In [14]:
#Question 6: Write a Python program to find the maximum and minimum elements in a tuple.
tuple1 = ("nitin", 'yadav', 'indore')
print("The min value in the tuple is:" , min(tuple1))
print("The max value in the tuple is:" , max(tuple1))

The min value in the tuple is: indore
The max value in the tuple is: yadav

In [15]:
tuple1 = (1,2,5,2,5,52,56,89)
print("The min value in the tuple is:" , min(tuple1))
print("The max value in the tuple is:" , max(tuple1))

The min value in the tuple is: 1
The max value in the tuple is: 89

In [17]:
#Question 7: Write a Python program to check if an element exists in a tuple.
tuple1 = ("nitin", 'yadav', 'indore')
if "nitin" in tuple1:
    print("the eliment is there in tuple")
else: 
    print("the eliment is not there in tuple")

the eliment is there in tuple

In [20]:
#Question 8: Write a Python program to count the number of occurrences of an element in a tuple.
tuple1 = ("nitin", 'yadav', 'indore', "nitin", "nitin",)
eliment = "nitin"
count = 0
for i in tuple1:
    if i == eliment:
        count+=1
    else:
        pass
print("the given eliment occurance count is:", count)

the given eliment occurance count is: 3

In [21]:
#Question 9: Write a Python program to slice a tuple.
tuple1 = ("nitin", 'yadav', 'indore', "nitin", "nitin",)
for i in tuple1:
    print(i)

nitin
yadav
indore
nitin
nitin

In [27]:
#Question 10: Write a Python program to unpack a tuple into multiple variables.
tuple1 = ("nitin", 'yadav', 'indore')
var1,var2, var3 = tuple1
print(var1)
print(var2)
print(var3)

nitin
yadav
indore

In [28]:
tuple1 = ("nitin", 'yadav', 'indore', "bhopal")
var1,var2, *var3 = tuple1
print(var1)
print(var2)
print(var3)

nitin
yadav
['indore', 'bhopal']