In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn

In [2]:
df = pd.read_csv("D:\\Top Mentor Course\\Offline Material\\Machine Learning\\2 July 2023\\day_Multiple_Linear_Regressoin_Assignment.csv")

#importing dataset

In [3]:
#checking if there are any null value in the dataset
df.isnull().sum()

instant       0
dteday        0
season        0
yr            0
mnth          0
holiday       0
weekday       0
workingday    0
weathersit    0
temp          0
atemp         0
hum           0
windspeed     0
casual        0
registered    0
cnt           0
dtype: int64

In [4]:
#checking dataset info
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     731 non-null    int64
 1   dteday      731 non-null    object
 2   season      731 non-null    int64
 3   yr          731 non-null    int64
 4   mnth        731 non-null    int64
 5   holiday     731 non-null    int64
 6   weekday     731 non-null    int64
 7   workingday  731 non-null    int64
 8   weathersit  731 non-null    int64
 9   temp        731 non-null    float64
 10  atemp       731 non-null    float64
 11  hum         731 non-null    float64
 12  windspeed   731 non-null    float64
 13  casual      731 non-null    int64
 14  registered  731 non-null    int64
 15  cnt         731 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.5+ KB

In [5]:
#since date column is an object, pulling it out to convert it to date time format
df['dteday']

0      01-01-11
1      02-01-11
2      03-01-11
3      04-01-11
4      05-01-11
         ...
726    27-12-12
727    28-12-12
728    29-12-12
729    30-12-12
730    31-12-12
Name: dteday, Length: 731, dtype: object

In [6]:
#extracting date to Year, Month and Date and adding those to DF.
date_col = pd.DatetimeIndex(df['dteday'], dayfirst=True)
df["Day"] = date_col.day
df["Month"] = date_col.month
df["Year"] = date_col.year

In [7]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,Day,Month,Year
0,1,01-01-11,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985,1,1,2011
1,2,02-01-11,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801,2,1,2011
2,3,03-01-11,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349,3,1,2011
3,4,04-01-11,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562,4,1,2011
4,5,05-01-11,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600,5,1,2011

In [28]:
#Removing date column and instant column

df_updated = df.drop(["dteday"], axis=1)
df_updated = df_updated.drop(['instant'], axis=1)
df_updated.head()

,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt,Day,Month,Year
0,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985,1,1,2011
1,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801,2,1,2011
2,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349,3,1,2011
3,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562,4,1,2011
4,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600,5,1,2011

In [29]:
#checking the info of updated dataset
df_updated.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 731 entries, 0 to 730
Data columns (total 17 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   season      731 non-null    int64
 1   yr          731 non-null    int64
 2   mnth        731 non-null    int64
 3   holiday     731 non-null    int64
 4   weekday     731 non-null    int64
 5   workingday  731 non-null    int64
 6   weathersit  731 non-null    int64
 7   temp        731 non-null    float64
 8   atemp       731 non-null    float64
 9   hum         731 non-null    float64
 10  windspeed   731 non-null    float64
 11  casual      731 non-null    int64
 12  registered  731 non-null    int64
 13  cnt         731 non-null    int64
 14  Day         731 non-null    int64
 15  Month       731 non-null    int64
 16  Year        731 non-null    int64
dtypes: float64(4), int64(13)
memory usage: 97.2 KB

In [45]:
#defining x & y as independent and dependent columns
x = df_updated.drop(["casual"], axis=1)
y = df["casual"]

In [46]:
from sklearn.model_selection import train_test_split

In [60]:
#splitting training and test data to 80:20
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size=0.2, random_state=10)

In [61]:
len(x_train), len(x_test), len(y_train), len(y_test)

(584, 147, 584, 147)

In [62]:
from sklearn.linear_model import LinearRegression

In [63]:
reg = LinearRegression()

In [64]:
reg.fit(x_train, y_train)

LinearRegression()

In [65]:
# m value
reg.coef_

array([ 9.26072758e-14,  5.82123438e-13,  4.29449807e-14, -2.31607547e-13,
        9.70295416e-15,  4.33287269e-13, -5.30203191e-13, -2.20690267e-12,
        2.26093036e-12, -1.85217008e-13, -5.72530560e-13, -1.00000000e+00,
        1.00000000e+00,  1.33870029e-15,  4.25247440e-14,  5.81973382e-13])

In [66]:
# c value
reg.intercept_

-1.1699512469931506e-09

In [67]:
y_train_predition = reg.predict(x_train)

In [68]:
from sklearn.metrics import r2_score

In [69]:
r2_score(y_train, y_train_predition)

1.0

In [70]:
y_test_pred = reg.predict(x_test)

In [71]:
r2_score(y_test, y_test_pred)

1.0

In [72]:
len(x_train), len(y_train), len(y_train_predition)

(584, 584, 584)