In [37]:
#Question 1: Write a Python program to create an empty set.
s = set()
print(type(s))

TypeError: 'dict' object is not callable

In [9]:
#Question 2: Write a Python program to check if two sets are equal.
s1 = {1,2,3,4}
s2 = {14,2,3,4}
if s1==s2:
    print("both sets are equal")
else:
    print("both sets are not equal")

both sets are not equal

In [10]:
s1 = {1,2,3,4}
s2 = {1,2,3,4}
if s1==s2:
    print("both sets are equal")
else:
    print("both sets are not equal")

both sets are equal

In [11]:
s1 = {'nitin', 'yadav'}
s2 = {'nitin', 'yadav'}
if s1==s2:
    print("both sets are equal")
else:
    print("both sets are not equal")

both sets are equal

In [12]:
s1 = {'nitin', 'yadav'}
s2 = {'yadav', 'nitin'}
if s1==s2:
    print("both sets are equal")
else:
    print("both sets are not equal")

both sets are equal

In [13]:
#Question 3: Write a Python program to add an element to a set.
s1 = {'nitin', 'yadav'}
s1.add("Indore")
print(s1)

{'yadav', 'nitin', 'Indore'}

In [14]:
#Question 4: Write a Python program to remove an element from a set.
s1 = {'yadav', 'nitin', 'Indore'}
s1.pop()

'yadav'

In [17]:
s1 = {'yadav', 'nitin', 'Indore'}
s1.discard('nitin')
print(s1)

{'yadav', 'Indore'}

In [18]:
s1 = {'yadav', 'nitin', 'Indore'}
s1.remove('nitin')
print(s1)

{'yadav', 'Indore'}

In [20]:
#Question 5: Write a Python program to find the union of two sets.
s1 = {'nitin', 'yadav', "indore"}
s2 = {'yadav', 'nitin', "MP"}
s3 = s1.union(s2)
print(s3)

{'yadav', 'nitin', 'MP', 'indore'}

In [21]:
#Question 6: Write a Python program to find the intersection of two sets.
s1 = {'nitin', 'yadav', "indore"}
s2 = {'yadav', 'nitin', "MP"}
s3 = s1.intersection(s2)
print(s3)

{'yadav', 'nitin'}

In [24]:
#Question 7: Write a Python program to find the difference between two sets.
s1 = {'nitin', 'yadav', "indore"}
s2 = {'yadav', 'nitin', "MP"}
s3 = s1.difference(s2)
s4 = s2.difference(s1)
print(s3)
print(s4)

{'indore'}
{'MP'}

In [27]:
#Question 8: Write a Python program to check if a set is a subset of another set.
s1 = {'nitin', 'yadav', "indore", "bhopal", "India"}
s2 = {'yadav', 'nitin'}
s3 = s2.issubset(s1)
print(s3)

True

In [28]:
#Question 9: Write a Python program to remove all duplicate elements from a set.
s1 = {'nitin', 'yadav', "indore", "bhopal", "India", 'yadav', 'nitin'}
print(s1)

{'India', 'yadav', 'nitin', 'bhopal', 'indore'}

In [34]:
#Question 10: Write a Python program to find the maximum and minimum elements in a set.
s1 = {1,2,3,50,60,80,90,52,43}
s2 = list(s1)
print("The min value in the set is: ", min(s2))
print("The max value in the set is: ", max(s2))

The min value in the set is:  1
The max value in the set is:  90