In [2]:
print('''I am Nitin
Yadav''')

I am Nitin
Yadav

In [8]:
a = 'I am Nitin Yadav'
print(a[::-1])
print(a[1:20:3])

vadaY nitiN ma I
  t d

In [13]:
for i in range (1,31,5):
    print(i)

1
6
11
16
21
26

In [14]:
for i in range (1,31,5):
    print(i, end=' ')

1 6 11 16 21 26

In [18]:
for i in range (1,11):
    print(i, end=', ')

1, 2, 3, 4, 5, 6, 7, 8, 9, 10,

In [19]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(a[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [23]:
a = [1, 4, 5, 3, 5, 6, 7, 8, 9, 10]
print(a.sort())

None

In [24]:
a = [1, 4, 5, 3, 5, 6, 7, 8, 9, 10]
a[2] = 'Nitin'
print(a)

[1, 4, 'Nitin', 3, 5, 6, 7, 8, 9, 10]

In [25]:
a = 'python'
for i in a:
    print(i)

p
y
t
h
o
n

In [26]:
a = 'python'
for i in a:
    print(i, end='')

python

In [27]:
a = 'python'
for i in a:
    print(i, end=' ')

p y t h o n

In [32]:
a = 'python'
for i in a:
    print([i], end='')

['p']['y']['t']['h']['o']['n']

In [34]:
a = 'nitin'
b = list(a)
print(b)

['n', 'i', 't', 'i', 'n']

In [37]:
a = 'nitin yadav'
b = list(a)
print(b)

['n', 'i', 't', 'i', 'n', ' ', 'y', 'a', 'd', 'a', 'v']

In [39]:
a = 'nitin yadav is in indore'
b = a.split()
print(b)

['nitin', 'yadav', 'is', 'in', 'indore']

In [44]:
a = ['nitin', 'yadav', 'is', 'in', 'indore']
b = ' '.join(a)
print(b)

nitin yadav is in indore

In [45]:
a = 'nitin yadav'
b = a.capitalize()
print(b)

Nitin yadav

In [46]:
a = 'nitin yadav'
b = a.title()
print(b)

Nitin Yadav

In [47]:
a = 'nitin yadav'
b = a.upper()
print(b)

NITIN YADAV

In [48]:
a = 'Nitin Yadav'
b = a.lower()
print(b)

nitin yadav

In [49]:
a = "hEy tHEre PYthon!"
print(a.lower())
print(a.upper())
print(a.title())

hey there python!
HEY THERE PYTHON!
Hey There Python!

In [52]:
a = "I am a programmer"
print(a.index('am'))

2

In [53]:
a = "I am a programmer"
print(a.index('am',1))

2

In [54]:
a = "I am a programmer"
print(a.replace('am', 'was'))

I was a progrwasmer

In [63]:
a = "i am a programmer"
print(a.capitalize())
print(a.count('a'))
print(a.count('am'))
print(a.count('pro'))

I am a programmer
3
2
1

In [65]:
a = "i am a programmer"
print(a.index('a', 1,15))

2

In [67]:
a = [10, 100, 200.5, 'data science', 1000]
a.append(65)
print(a)

[10, 100, 200.5, 'data science', 1000, 65]

In [70]:
a = [10, 100, 200.5, 'data science', 1000]
print(a[-2][2])

t

In [71]:
a = [10, 100, 200.5, 'data science', 1000]
print(a[::-1])

[1000, 'data science', 200.5, 100, 10]

In [75]:
a = [10, 100, 200.5, 'data science', 1000]
a.insert(2,5)
print(a)

[10, 100, 5, 200.5, 'data science', 1000]

In [76]:
a = [10, 100, 200.5, 'data science', 1000]
a.insert(2,'nitin')
print(a)

[10, 100, 'nitin', 200.5, 'data science', 1000]

In [77]:
a = [10, 100, 200.5, 'data science', 1000]
a.del(2)
print(a)

SyntaxError: invalid syntax (3567433170.py, line 2)

In [79]:
a = [10, 100, 200.5, 'data science', 1000]
a.replace(2, 'Nitin')
print(a)

[]

In [87]:
a = [10, 100, 200.5, 'data science', 1000]
a.remove(10)
print(a)

[100, 200.5, 'data science', 1000]

In [90]:
a = [10, 100, 200.5, 'data science', 1000]
print(a.pop())
print(a.pop())

1000
data science

In [93]:
a = [10, 100, 200.5, 'data science', 1000]
b = ['nitin', 2000]
a.extend(b)
print(a)

[10, 100, 200.5, 'data science', 1000, 'nitin', 2000]

In [96]:
a = [10, 100, 200.5, 'data science', 1000, 'nitin', 2000]
a.count('nitin')

1

In [98]:
a = [10, 100, 200.5, 'data science', 1000, 'nitin', 2000]
a.reverse()
print(a)

[2000, 'nitin', 1000, 'data science', 200.5, 100, 10]

In [99]:
a = [10, 100, 200.5, 'data science', 1000, 'nitin', 2000]
print(a[::-1])

[2000, 'nitin', 1000, 'data science', 200.5, 100, 10]

TypeError: '<' not supported between instances of 'str' and 'float'