In [16]:
a=12
b=12.2
print(int(a))
c=int(b)
print(int(a,c))

12

TypeError: int() can't convert non-string with explicit base

In [2]:
int(b)

12

In [3]:
float(a)

12.0

In [4]:
c='my name is Nitin Yadav'

In [5]:
print(c)

my name is Nitin Yadav

In [6]:
print(a,b)

12 12.2

In [8]:
print(a+b)

24.2

In [9]:
d = 'and I work at RWS Group'

In [11]:
print(c,d)

my name is Nitin Yadav and I work at RWS Group

In [18]:
a=100
print(float(a))

100.0

In [19]:
print(str(a))

100

In [21]:
b='I am Nitin Yadav'
print(int(b))

#strigs cant only be converted to Integer when there are numbers.

ValueError: invalid literal for int() with base 10: 'I am Nitin Yadav'

In [23]:
c='100'
print(int(c))

#This is reflecting the output as string is a number.

100

In [24]:
d=1000.586
print(int(d))

1000

In [25]:
print(str(d))

1000.586

In [26]:
a=10
b=20
print(a+b)

30

In [27]:
print(a-b)

-10

In [29]:
print(a*b)

200

In [30]:
print(a/b)

0.5

In [31]:
print(b/a)

2.0

In [32]:
print(a//b)

0

In [33]:
print(b//a)

2

In [34]:
print(a%b)

10

In [37]:
print(a,pow(b))

TypeError: pow() missing required argument 'exp' (pos 2)

In [38]:
pow(a,b)

100000000000000000000

In [49]:
a = 10
b = 20
print(a=b)

TypeError: 'a' is an invalid keyword argument for print()

In [59]:
a = 'nitin'
b = 'pooja'
c = 'wo bori me rahta hai'

print('{} {} ka bhai hai {} aur indore me job karta hai' .format(a,b,c))

#  aur indore me job karta hai

nitin pooja ka bhai hai wo bori me rahta hai aur indore me job karta hai

In [3]:
age = 26
print('My age is '+str(age))

My age is 26

In [9]:
salary = 100.2
spend = 20
course = 'Udemy'

# output : I got 100.2 rs salary and learning a course in udemy which charges 20 rs per day

print('I got ' +str(salary)+' rs salary and learing a course in '+course+' which charges '+str(spend)+' rs per day ')

I got 100.2 rs salary and learing a course in Udemy which charges 20 rs per day

In [15]:
age = 30.2
wage = 20
rate = 10

#Output = I need 10 nariyal paani, 20 straws and 30 plates.

print('I need %d nariyal paani, %d straws and %f plates',(rate,wage,age))

I need %d nariyal paani, %d straws and %f plates (10, 20, 30.2)

In [19]:
#Formatting Technique

In [20]:
course = 'Datascience'
cost = 10
spend = 34.2

# I am lerning a datascience with 10 rs and spend 34.2 rs

print(f'I am learning a {course} with {cost} rs and {spend} rs ')

I am learning a Datascience with 10 rs and 34.2 rs

In [21]:
a = 10
b = 20
c = 30

#Output: I need 10 chocolat of 20 rs each to distribute among 30 students.

print(f'I need {a} chocolate of {b} rs each to distriute among {c} students.')

I need 10 chocolate of 20 rs each to distriute among 30 students.

In [22]:
## .formate tchnique

a = 10
b = 20
c = 30

#Output: I need 10 chocolat of 20 rs each to distribute among 30 students.

print('I need {} chocolate of {} rs each to distriute among {} students.'.format(a,b,c))

I need 10 chocolate of 20 rs each to distriute among 30 students.

In [25]:
s1='sunday'
t1='10:45 am'

## today is sunday and time is 10:45

print('today is {} and time is {}.'.format(s1,t1))

today is sunday and time is 10:45 am.

In [26]:
s1='sunday'
t1='10:45 am'

## today is sunday and time is 10:45

print(f'today is {s1} and time is {t1}.')

today is sunday and time is 10:45 am.

In [31]:
a='Machine Learning'
b= '2'
year='2021'

#Output: welocome to  2 class of  Machine Learning in the year  2021

print('welcome to',b,'class of',a,'in the year',year)

welcome to 2 class of Machine Learning in the year 2021

In [35]:
a = 1
# print("the value is = 1 ")

print("the value is = %d" %a)

the value is = 1

In [37]:
a = 'python'
b = "Data science"
c = "Aritficial intelligence"
d = "Machine learning"

# print("Python is a programming language used to work on data science and Machine learning is an heart for Data science ")

print('%s is a programmig language used to work on %s and %s is an heart for %s' %(a,b,d,b))

python is a programmig language used to work on Data science and Machine learning is an heart for Data science

In [38]:
a = 1
b = 12.2
c = 'python'

#Output: the value of a is 1 and value of b is 12.200000 and text of c is python 

print('the value of a is %d and value of b is %f and text of c is %s' %(a,b,c))

the value of a is 1 and value of b is 12.200000 and text of c is python

In [43]:
pie = 22/7
print(pie)

3.142857142857143

In [50]:
print(pie %.3f)

SyntaxError: invalid decimal literal (2600636033.py, line 1)

In [52]:
#Data Structure in Python

In [60]:
a = 'datascience'
print(a[1:2])

a

In [62]:
c = 'python'
print(c[0])

p

In [67]:
#Slicing operation

In [71]:
a = 'python'
print(a[1:4])

yth

In [73]:
b = 'data science'
print(b[2:7])

ta sc

In [82]:
b = 'data science'
print(b[1 : 9 : 3])

a i

In [83]:
print(b[:])

data science

In [84]:
print(b[2:])

ta science

In [85]:
print(b[:2])

da

In [86]:
print(b[::-1])

ecneics atad

In [87]:
c = 'nitin yadav'
print(c[::-1])

vaday nitin

In [88]:
d = 'pyton is very powerful language'
print(d[::-1])

egaugnal lufrewop yrev si notyp

In [89]:
#String Concepts & Method

In [6]:
a = 'I am nitin Yadav'
print(a.replace('n','p'))

#if same character are appearing in the string, it will replace both.

I am pitip Yadav

In [8]:
b = 'i am nitin yadav'
b.capitalize()

'I am nitin yadav'

In [12]:
b.count('')

17

In [19]:
c = 'I stay in Indore'
c.count("in")

1

In [21]:
c.startswith('I')

True

In [22]:
c.endswith('e')

True

In [23]:
c.startswith('s')

False

In [24]:
c.endswith('d')

False

In [32]:
d = ('I am working at RWS Group')
d.index('RWS')

16

In [34]:
d.index("a", 0, 20)

2

In [35]:
d.lower()

'i am working at rws group'

In [44]:
e = d.upper()
print(e)

I AM WORKING AT RWS GROUP

In [38]:
d.isupper()

False

In [39]:
d.islower()

False

In [45]:
e.isupper()

True

In [46]:
e.isalpha()

False

In [49]:
a = 'I am'
a.isalpha()

False

In [55]:
b = "190"
b.isalpha()

False

In [52]:
b.isnumeric()

True

In [60]:
c = 'abc10'
c.isalnum()

True

In [61]:
c.isnumeric()

False

In [64]:
a = 'I am Nitin Yadav working at RWS Group'
a.title()

'I Am Nitin Yadav Working At Rws Group'

In [66]:
#List in python

In [74]:
a = [10, 20, 30, 40, 'Nitin']
print(a)

[10, 20, 30, 40, 'Nitin']

In [75]:
print(a[3])

40

In [76]:
print(a[4])

Nitin

In [78]:
print(a[4][2])

t

In [80]:
print(a[-1][-4])

i

In [85]:
b = print(a[:])

['Nitin', 40, 30, 20, 10]

In [89]:
print(a[::-1])

[10, 20, 30, 40, 'Nitin']

In [95]:
a = [10, 20, 30, 40, 'Nitin']
a.index('Nitin')

4

In [98]:
a.append('pragati')
print(a)

[10, 20, 30, 40, 'Nitin', 'pragati', 'pragati']

In [ ]:
a.append('')