In [1]:
a = 125
type(a)

int

In [2]:
a = 12.4
type(a)

float

In [4]:
a = 'inngg'
type(a)

str

In [5]:
a = 'dahfashdf122'
type(a)

str

In [6]:
a = '123'
type(a)

str

In [21]:
a = 10
b = float(a)
print(b)
print(str(b))
print(str(a))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a//b)
print(a%b)

10.0
10.0
10
20.0
0.0
100.0
1.0
1.0
0.0

In [27]:
a = 10
b = 10
c = pow(a,b)
print(c)

10000000000

In [33]:
a = 12
b = 12
print(a == b)

True

In [35]:
a = 12
b = 12
print(a != b)

False

In [61]:
salary = 100.2
spend = 20
course = 'Udemy'

# output : I got 100.2 rs salary and learning a course in udemy which charges 20 rs per day

#using , operator
print('I got',salary, 'rs salary and learning a course in',course,'which charges',spend,'rs per day')

#using + operator
print('I got '+str(salary)+' rs salary and learning a course in '+course+' which charges '+str(spend)+' rs per day')

#using % operator
print('I got %f rs salary and learning a course in %s which charges %d rs per day'%(salary,course,spend))

#Using Formatting technique - type 1
print(f'I got {salary} rs salary and learning a course in {course} which charges {spend} rs per day')

#Using Formatting technique - type 2
print('I got {} rs salary and learning a course in {} which charges {} rs per day'.format(salary,course,spend))

I got 100.2 rs salary and learning a course in Udemy which charges 20 rs per day
I got 100.2 rs salary and learning a course in Udemy which charges 20 rs per day
I got 100.200000 rs salary and learning a course in Udemy which charges 20 rs per day
I got 100.2 rs salary and learning a course in Udemy which charges 20 rs per day
I got 100.2 rs salary and learning a course in Udemy which charges 20 rs per day

In [66]:
pow(2,6,3)

1

In [68]:
#String as Data Structure

In [93]:
a = 'I am Nitin Yadav'
print(a[2])

#slicing & Skipping

a = 'I am Nitin Yadav, I work at RWS Group from Indore Office.'
print(a[:]) #output will be as it is as there is no starting and ending point defined.

print(a[2:]) #output will start from 2 index character in the string

print(a.count(''))

print(a[0:17:2])
print(a[0:17:3])
print(a[0:17:4])
print(a[::-1])

a
I am Nitin Yadav, I work at RWS Group from Indore Office.
am Nitin Yadav, I work at RWS Group from Indore Office.
58
Ia ii aa,
Iminav
I ia,
.eciffO erodnI morf puorG SWR ta krow I ,vadaY nitiN ma I

In [112]:
#replacing a charachter in string

a = 'I am Nitin Yadav'
b = a.replace('am', 'are')
print(b)

a = 'i am Nitin Yadav'
a.capitalize()
print(a.count(''))
print(a.count('i'))
print(a.count('am'))

#startswith & endswith

print(a.startswith('i'))
print(a.startswith('am'))
print(a.endswith('v'))
print(a.endswith('Y'))

I are Nitin Yadav
17
3
1
True
False
True
False

In [150]:
#Index method 
a = 'I am Nitin Yadav, I work at RWS Group as Sr. Talent Manager. We are a team of 4 sitting in multiple locations including China and Spain.'
print(a.count(''))
print(a.count('4'))
a.index('N')
print(a.index('n',0, 138))
print(a.index('s',0,138))

#accessing a character from a string

print(a[0])
print(a[120])

137
1
9
39
I
C

In [146]:
#lower & Uppar

a = 'i am Nitin Yadav'
print(a.lower())
print(a.upper())
print(a.title())

a = '123abb'
b = 'kuch bhi'
print(a.isalnum())
print(b.isalpha())

c = '100.2'
d = '100000'
print(c.isdecimal())
print(d.isdigit())

i am nitin yadav
I AM NITIN YADAV
I Am Nitin Yadav
True
False
False
True

In [144]:
e = 'sdfhsdfj112'
print(e.isalnum())
print(e.isalpha())

True
False

In [152]:
#string multiplication
a = 'Iam'
b = a*2
print(b)

IamIam

In [167]:
#multiline string: it needs to be written in 3 quotes i.e. '''abc'''
a = '''I am Nitin Yadav, I work at RWS Group as Sr. 
        Talent Manager. We are a team of 4 sitting in 
            multiple locations including China and Spain.'''
print(a)

#accessting characters from the string

print(a.count(''))
print(a[2])
print(a[152])
print(a[::-1])
print(a.count('s'))
print(a[30:])

I am Nitin Yadav, I work at RWS Group as Sr.
        Talent Manager. We are a team of 4 sitting in
            multiple locations including China and Spain.
159
a
S
.niapS dna anihC gnidulcni snoitacol elpitlum
 ni gnittis 4 fo maet a era eW .reganaM tnelaT
 .rS sa puorG SWR ta krow I ,vadaY nitiN ma I
3
S Group as Sr.
        Talent Manager. We are a team of 4 sitting in
            multiple locations including China and Spain.

In [172]:
a = '''I am Nitin Yadav, I work at RWS Group as Sr. 
        Talent Manager. We are a team of 4 sitting in 
            multiple locations including China and Spain.'''

print('I' in a)
print('4' in a)
print('Talent Manager' in a)
print('China and Spain' in a)

True
True
True
True

In [2]:
#using quotes in a string in Python.

a = 'I am "Nitin Yadav"'
print(a)

I am "Nitin Yadav"

In [3]:
b = (list(a))

['I', ' ', 'a', 'm', ' ', '"', 'N', 'i', 't', 'i', 'n', ' ', 'Y', 'a', 'd', 'a', 'v', '"']

In [11]:
#Split & Join method in Strings

a = 'I am Nitin Yadav, working at RWS Group Indore.'
b = a.split(" ")

In [14]:
print(b)

['I', 'am', 'Nitin', 'Yadav,', 'working', 'at', 'RWS', 'Group', 'Indore.']

In [25]:
print(' '.join(b))

I am Nitin Yadav, working at RWS Group Indore.

In [24]:
c = (b[::-1])
print(c)

['am Nitin Yadav, working at RWS Group Indore.', 'I']

In [29]:
print(' '.join((c[::-1])))

#here I am joining the string using join operation At the same time I am reversing the variable c.

I am Nitin Yadav, working at RWS Group Indore.

In [30]:
#List

In [64]:
a = ['Nitin', 'Deepak', 10, 20, 30]
print(a)
print(a[:])
print(a[1:])
print(a[:2])
print(a[1:3])

#reversing the list
print(a[::-1])
print(a[::-2])
print(a[::-3])

['Nitin', 'Deepak', 10, 20, 30]
['Nitin', 'Deepak', 10, 20, 30]
['Deepak', 10, 20, 30]
['Nitin', 'Deepak']
['Deepak', 10]
[30, 20, 10, 'Deepak', 'Nitin']
[30, 10, 'Nitin']
[30, 'Deepak']

In [67]:
#adding a memory space in list using append method
a = ['Nitin', 'Deepak', 10, 20, 30]
a.append(40)
a.append(50)
a.append(60)
print(a)

['Nitin', 'Deepak', 10, 20, 30, 40, 50, 60]

In [78]:
#insert method
b = ['Nitin', 'Deepak', '10', '20', '30', '40', '50', '60']
print(b.insert(4, 'Indore'))

None

In [84]:
a = ["Nitin" , "Deepak"]
b = a.insert(1, "Indore")
print(b)

None

In [82]:
thislist = ["apple", "banana", "cherry"]
thislist.insert(1, "orange")
print(thislist)

['apple', 'orange', 'banana', 'cherry']

In [85]:
list = ["indore" , "Mumbai" , "Pune"]
list.insert(1, "Delhi")
print(list)

['indore', 'Delhi', 'Mumbai', 'Pune']

In [86]:
d = [10 , 20 , 30]
d.insert(1, 40)
print(d)

[10, 40, 20, 30]

In [88]:
d = [10 , 20 , 30]
del(d[1])
print(d)

[10, 30]

In [92]:
#clearing the list
d.clear()
print(d)

[]

In [106]:
#Sorting (strings gets sort by their ascii values)
a = ['Nitin Yadav','Deepak', 'Indore']
a.sort()
print(a)

['Deepak', 'Indore', 'Nitin Yadav']

In [116]:
#Copy

a = ['Nitin Yadav','Deepak', 'Indore']
b = a.copy()
print(b)
print (a == b)
a.count('N')

['Nitin Yadav', 'Deepak', 'Indore']
True

0

In [129]:
#Index in list

a = ['Nitin Yadav','Deepak', 'Indore']
a.index('Deepak')

#Extend
a = ['Nitin Yadav','Deepak', 'Indore']
b = ['Patel', 'Sid', 'Mumbai']
a.extend(b)
print(a)

['Nitin Yadav', 'Deepak', 'Indore', 'Patel', 'Sid', 'Mumbai']

In [125]:
list1 = ['Amit', 'Sumit', 'Patel', 'Suresh']
list1.sort()
print(list1)

['Amit', 'Patel', 'Sumit', 'Suresh']
None

In [128]:
list2 = ['Amit', 'Sumit', 'Patel', 'Suresh', 'Indore']
Z = list1.reverse()
print(Z)

#It has reversed the list but showing None it hasnt created a new list.

None

In [131]:
#Clear function
list2 = ['Amit', 'Sumit', 'Patel', 'Suresh', 'Indore']
list2.clear()
print(list2)

[]

In [146]:
#Pop function

list2 = ['Amit', 'Sumit', 'Patel', 'Suresh', 'Indore']
list2.pop(1)
print(list2)

['Amit', 'Patel', 'Suresh', 'Indore']

In [149]:
list2 = ['Amit', 'Sumit', 'Patel', 'Suresh', 'Indore']
del list2[0]
print(list2)

['Sumit', 'Patel', 'Suresh', 'Indore']

In [156]:
list2 = ['Amit', 'Sumit', 'Patel', 'Suresh', 'Indore']
list2.remove('Suresh')
print(list2)

list3 = ['Amit', 'Sumit', 'Amit', 'Suresh', 'Indore']
list3.remove('Amit')
list3.remove('Amit')
print(list3)

['Amit', 'Sumit', 'Patel', 'Indore']
['Sumit', 'Suresh', 'Indore']

In [162]:
series1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series1.reverse()
print(series1)

list3 = ['Amit', 'Sumit', 'Amit', 'Suresh', 'Indore']
list3.reverse()
print(list3)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
['Indore', 'Suresh', 'Amit', 'Sumit', 'Amit']

In [163]:
series1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list3 = ['Amit', 'Sumit', 'Amit', 'Suresh', 'Indore']
series2 = series1.extend(list3)
print(series2)

None

In [176]:
series1 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series2 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
series1.extend(series2)
print(series1)

result = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
result.sort()
print(result)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 1, 2, 2, 3, 3, 4, 4, 5, 5, 6, 6, 7, 7, 8, 8, 9, 9, 10, 10]

In [169]:
List2 = ['Amit', 'Sumit', 'Amit', 'Suresh', 'Indore']
list3 = ['Amit', 'Sumit', 'Amit', 'Suresh', 'Indore']
print(list2.extend(list3))

None

In [177]:
#Mathemaical operation

In [183]:
List2 = ['Amit', 'Sumit', 'Amit', 'Suresh', 'Indore']
print(len (List2))
print(min (List2))
print(max (List2))

5
Amit
Suresh

In [187]:
List2 = [1,2,3,4,5]
sum (List2)

15

In [194]:
#SPLIT & JOIN

list1 = ['Nitin', 'Patel']
list2 = ['Indore', 'Mumbai']
list3 = list1 + list2
print(list3)

['Nitin', 'Patel', 'Indore', 'Mumbai']

In [201]:
list1 = 'N i t i n yadav'
list2 = 'Nitin yadav'
print(list1.split(' '))
print(list2.split(' '))

['N', 'i', 't', 'i', 'n', 'yadav']
['Nitin', 'yadav']

In [209]:
string1 = 'Nitin'
string2 = 'Yadav'
string3 = ','.join(string1)
print(string3)

N,i,t,i,n

In [216]:
a = (1, 2, 3)
type(a)
print(a.count(2))
print(a.index(3))

1
2