## Variable and variable conversion

In [11]:
a = 10
b = 10.1
c = 'Nitin'
d = '100'
print(type(a))
print(type(b))
print(type(c))
print(int(b))
print(float(a))
print(str(a))
print(int(d)) #This string will be converted to int OR float as there are numbers only.
print(float(d))
print(int(c)) #This will show error

<class 'int'>
<class 'float'>
<class 'str'>
10
10.0
10
100
100.0

ValueError: invalid literal for int() with base 10: 'Nitin'

# Operators Practice

In [33]:
a = 10
b = 20
print(a+b)
print(b-a)
print(a*b)
print(a**b) #This works as power function
print(int(b/a)) #I devided as well as converted the output to int here).
print(a%b) #value of a itself will be the remainder.
print(a//b) #it will give the number after division.

30
10
200
100000000000000000000
2
10
0

# Data Structures

### String operations:

In [92]:
a = 'nitin yadav'
print(a[1:]) #forward dircion index
print(a[-10:-1])
print(a[::-1])#revesrsing the string
print(a[1:8:2]) #(slicing)
print(a.capitalize())
print(a.count(''))
print(a.startswith('n'))
print(a.startswith('a'))
print(a.endswith('v'))
print(a.endswith('y'))
print(a.index('y'))
print(a.lower())
print(a.upper())
b = (a.split())
print(b)
print(' '.join(b))

c = 'I am Nitin Yadav. working at RWS group'
d = c.split('.')
print(d)
'.'.join(d)

itin yadav
itin yada
vaday nitin
ii a
Nitin yadav
12
True
False
True
False
6
nitin yadav
NITIN YADAV
['nitin', 'yadav']
nitin yadav
['I am Nitin Yadav', ' working at RWS group']

'I am Nitin Yadav. working at RWS group'

### List operations

In [102]:
a = [10, 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym']
print(a)
print(type(a))
print(a[3])
print(a[3][0])
print(a[3][1])
print(a[3][2])
print(a[3][3])
print(a[3][4])
print(a[3][5])
print(a[3][6])
print(a[3][7])
print(a[3][8])
print(a[3][9])
print(a[3][10])

[10, 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym']
<class 'list'>
Nitin Yadav
N
i
t
i
n

Y
a
d
a
v

In [110]:
a = [10, 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym']
print(a[1:]) #printing from 1 index in the list
print(a[:-2]) #printing until -2 index value of the list (with reverse indexting)
print(a[::-1]) #reverseing from -1 index
print(a[::-3]) #reverseing from -3 index

[20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym']
[10, 20, 30, 'Nitin Yadav']
['Alpha Gym', 'Deepak Singh', 'Nitin Yadav', 30, 20, 10]
['Alpha Gym', 30]

In [117]:
a = [10, 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym']
a.append(1000)
print(a)
a.append('Indore')
print(a)
a.insert(1, 'patel') (inserting a new index value at the given index)
print(a)

[10, 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000]
[10, 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']
[10, 'patel', 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']

In [119]:
#replace method
a = [10, 'patel', 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']
a[3]
a[3] = 'Gyam gaye the'
print(a)

[10, 'patel', 20, 'Gyam gaye the', 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']

In [121]:
a = [10, 'patel', 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']
a.clear()
print(a)

[]

In [128]:
a = [10, 'patel', 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']
del a[1]
print(a)
del a[-3]
print(a)

[10, 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']
[10, 20, 30, 'Nitin Yadav', 'Deepak Singh', 1000, 'Indore']

In [130]:
a = [10, 'patel', 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']
b = a.copy()
print(b)

[10, 'patel', 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']

In [136]:
a = [10, 'patel', 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']
a.count('patel')

1

In [147]:
a = [10, 'patel', 20, 30, 'Nitin Yadav']
a.extend(['Deepak Singh', 'Alpha Gym', 1000, 'Indore'])
print(a)
a.index(20)

[10, 'patel', 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']

2

In [153]:
a = [10, 'patel', 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']
print(a.pop())
print(a.pop())

Indore
1000

In [156]:
a = [10, 'patel', 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']
a.remove('patel')
print(a)

[10, 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']

In [157]:
a = [10, 'patel', 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']
print(a[::-1])

['Indore', 1000, 'Alpha Gym', 'Deepak Singh', 'Nitin Yadav', 30, 20, 'patel', 10]

In [162]:
a = [10, 20, 30, 1000]
a.sort()
print(a)
b = ['patel', 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym']
b.sort()
print(b)

[10, 20, 30, 1000]
['Alpha Gym', 'Deepak Singh', 'Nitin Yadav', 'patel']

In [171]:
# Membership, lengh, sum (it only adds the int a float value in list) function
a = [10, 'patel', 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']
print(10 in a)
print(100 in a)
len(a)
a = [10, 20, 30.60, 1000]
print(sum(a))

True
False
1060.6

In [177]:
#Min & Max
a = [10, 'patel', 20, 30, 'Nitin Yadav', 'Deepak Singh', 'Alpha Gym', 1000, 'Indore']
a = [10, 20, 30.60, 1000]
print(min(a))
print(max(a))

b = ['Alpha Gym', 'Deepak Singh', 'Nitin Yadav', 'patel'] #(calculates as per the ASCII value of the characters)
print(min(b))
print(max(b))

10
1000
Alpha Gym
patel

### Tuple & It's operations

In [189]:
a = (10, 30, 90, 'ram','ram', 'sita')
print(type(a))
print(a.count('ram'))
print(a.count('sita'))
print(a.count(90))

<class 'tuple'>
2
1
1

In [193]:
a = (10, 30, 90, 'ram','ram', 'sita')
print(a.index(10))
print(a.index('ram'))
print(a.index('sita'))

0
3
5

# SETS

In [1]:
# Sets
# Sets are mutable
# Sets are represented by {}
# Sets can accept any data type

a = {10, 20.5, 'Python'}
b = [10, 20.5, 'Python']
c = (10, 20.5, 'Python')

print(type(a))
print(type(b))
print(type(c))

<class 'set'>
<class 'list'>
<class 'tuple'>

In [14]:
a = {10, 20.5, 'Python'}
a.add(1000)
print(a)

{1000, 10, 20.5, 'Python'}

In [18]:
a.add(2000)
print(a)

{'Python', 1000, 10, 2000, 20.5}

In [20]:
a = {'Python', 1000, 10, 2000, 20.5}
a.pop()
print(a)

{20.5, 'Python', 1000, 10}

In [22]:
# pop works when there is at least one arguument is there in the sets. If SETS are blank, it will through error.
b = {}
b.pop()

TypeError: pop expected at least 1 argument, got 0

In [23]:
#Discard method: It will remove the value, if present in the SETS, else will show the result at it is.
a = {20.5, 'Python', 1000, 10}
a.discard('nitin')
print(a)

{1000, 10, 20.5, 'Python'}

In [24]:
#Remove method: It will remove the value, if present in the SETS, else will show error.
a = {20.5, 'Python', 1000, 10}
a.remove('nitin')
print(a)

KeyError: 'nitin'

In [25]:
#Sets remove dulicates automaically, it doesnt keep it. Dulicates are not allowed when we store the values in SETS.
a = a = {20.5, 'Python', 1000, 10, 20.5, 'Python', 1000, 10}
print(a)

{1000, 10, 20.5, 'Python'}

In [26]:
# Sets are mutable but it cant acceppt mutable data structure. It can only accept immutable data structure. 
    # Means LIST cant be kepts under a SET.
a = {1000, 10, 20.5, 'Python', [1 , 2 , 3]}
print(a)

TypeError: unhashable type: 'list'

In [28]:
# Copy method in SET

a = {1000, 10, 20.5, 'Python'}
print(a)
b = a.copy()
print(b)

{1000, 10, 20.5, 'Python'}
{1000, 10, 20.5, 'Python'}

In [31]:
# Union & Intersection

a = {10 , 20, 30, 40, 50}
b = {50 , 60, 70, 80, 90}
print(a.union(b))
print(b.union(a))
print(a.intersection(b))
print(b.intersection(a))

{70, 40, 10, 80, 50, 20, 90, 60, 30}
{70, 40, 10, 80, 50, 20, 90, 60, 30}
{50}
{50}

In [205]:
a = {10, 20, 'ram', 'sita'}
print(a)
a.add(30)
print(a)
b = a.pop()
print(b)

a = {10, 20, 'ram', 'sita'}
a.discard('ram')
print(a)
a.discard('betul') #since betul is not there, it gives the result as is.
print(a)

{'sita', 10, 'ram', 20}
{'sita', 10, 20, 'ram', 30}
sita
{'sita', 10, 20}
{'sita', 10, 20}

In [208]:
a = {10, 20, 'ram', 'sita', 100, 10, 20, 'ram', 'sita' }
a.remove('ram') #removed duplicates as well as the given value.
print(a)

{'sita', 100, 20, 10}

#### Union and Intersection in SETS

In [209]:
a = {10, 20, 'ram', 'sita', 100}
b = {10, 20, 'ram', 'sita', 200, 600}
print(a.intersection(b))
print(a.union(b))

{'sita', 10, 20, 'ram'}
{'sita', 100, 200, 10, 20, 600, 'ram'}

# Dictionary

In [43]:
a = {'Nitin' : 'Sr. TM', 'Kevin' : 'SC Director', 'Eva' : 'TM Spain', 'Marco' : 'TM Granada'}
print(a)
a['Nitin'] #accessing a value from the dictionary

{'Nitin': 'Sr. TM', 'Kevin': 'SC Director', 'Eva': 'TM Spain', 'Marco': 'TM Granada'}

'Sr. TM'

In [40]:
# We can write multiple values to one key.
#Keys can be anything i.e. strings, int, float, 
a = {'Kevin Team' : ['Nitin', 'Eva', 'Marco', 'Kamolrat', 'Amber']}
print(a)

{'Kevin Team': ['Nitin', 'Eva', 'Marco', 'Kamolrat', 'Amber']}

In [41]:
a['Kevin Team']

['Nitin', 'Eva', 'Marco', 'Kamolrat', 'Amber']

In [45]:
a = {'Nitin' : 'Sr. TM', 'Kevin' : 'SC Director', 'Eva' : 'TM Spain', 'Marco' : 'TM Granada'}
a['Kevin']

'SC Director'

In [46]:
a.get('Kevin')

# This is same as the above method to call a value from a key in dictionary

'SC Director'

In [49]:
#Clear method: It will give blank dictionary by clearing the entire dictionary.

a = {'Nitin' : 'Sr. TM', 'Kevin' : 'SC Director', 'Eva' : 'TM Spain', 'Marco' : 'TM Granada'}
a.clear()
print(a)

{}

In [52]:
a = {'Nitin' : 'Sr. TM', 'Kevin' : 'SC Director', 'Eva' : 'TM Spain', 'Marco' : 'TM Granada'}
print(a.keys()) #Keys method
print(a.values()) #values method
b = a.copy() = #Copy method
print(b)

dict_keys(['Nitin', 'Kevin', 'Eva', 'Marco'])
dict_values(['Sr. TM', 'SC Director', 'TM Spain', 'TM Granada'])
{'Nitin': 'Sr. TM', 'Kevin': 'SC Director', 'Eva': 'TM Spain', 'Marco': 'TM Granada'}

In [53]:
a = {'Nitin' : 'Sr. TM', 'Kevin' : 'SC Director', 'Eva' : 'TM Spain', 'Marco' : 'TM Granada'}
a.items()

dict_items([('Nitin', 'Sr. TM'), ('Kevin', 'SC Director'), ('Eva', 'TM Spain'), ('Marco', 'TM Granada')])

In [55]:
#add, delete update in a dictionary:

#Add method
a = {'Nitin' : 'Sr. TM', 'Kevin' : 'SC Director', 'Eva' : 'TM Spain', 'Marco' : 'TM Granada'}
a['Amber'] = 'TM Taiwan'
print(a)

{'Nitin': 'Sr. TM', 'Kevin': 'SC Director', 'Eva': 'TM Spain', 'Marco': 'TM Granada', 'Amber': 'TM Taiwan'}

In [59]:
#Updating the existing data
a = {'Nitin' : 'Sr. TM', 'Kevin' : 'SC Director', 'Eva' : 'TM Spain', 'Marco' : 'TM Granada'}
a.update({'Kevin':'Sr. TM APAC & SEA Region'}) 
print(a)

{'Nitin': 'Sr. TM', 'Kevin': 'Sr. TM APAC & SEA Region', 'Eva': 'TM Spain', 'Marco': 'TM Granada'}

In [219]:
a = {'Nitin' : 'Chicholi', 'Chandru' : 'Panna', 'Vishky' : 'Pune', 'Vivek' : 'Indore'}
print(a.get('Chandru')) #To get the values from a key.

Panna

In [221]:
a = {'Nitin' : 'Chicholi', 'Chandru' : 'Panna', 'Vishky' : 'Pune', 'Vivek' : 'Indore'}
a.clear() #It will clear the list
print(a)

{}

In [222]:
a = {'Nitin' : 'Chicholi', 'Chandru' : 'Panna', 'Vishky' : 'Pune', 'Vivek' : 'Indore'}
b = a.copy()
print(b)

{'Nitin': 'Chicholi', 'Chandru': 'Panna', 'Vishky': 'Pune', 'Vivek': 'Indore'}

In [228]:
a = {'Nitin' : 'Chicholi', 'Chandru' : 'Panna', 'Vishky' : 'Pune', 'Vivek' : 'Indore'}
print(a.items())
print(a.values())
print(a.keys())
print(a.get('Chandru'))

dict_items([('Nitin', 'Chicholi'), ('Chandru', 'Panna'), ('Vishky', 'Pune'), ('Vivek', 'Indore')])
dict_values(['Chicholi', 'Panna', 'Pune', 'Indore'])
dict_keys(['Nitin', 'Chandru', 'Vishky', 'Vivek'])
Panna

In [4]:
a = {'Nitin' : 'Chicholi', 'Chandru' : 'Panna', 'Vishky' : 'Pune', 'Vivek' : 'Indore'}
a['Nitin'] = 'Indore1'
print(a)

{'Nitin': 'Indore1', 'Chandru': 'Panna', 'Vishky': 'Pune', 'Vivek': 'Indore'}

In [12]:
a = {'Nitin' : 'Chicholi', 'Chandru' : 'Panna', 'Vishky' : 'Pune', 'Vivek' : 'Indore'}
print(a.pop('Nitin')) #removed iven key value
print(a.popitem()) #removes last key and it's value.

Chicholi
('Vivek', 'Indore')

In [15]:
a = {'Nitin' : 'Chicholi', 'Chandru' : 'Panna', 'Vishky' : 'Pune', 'Vivek' : 'Indore'}
del a ['Chandru']
print(a)

{'Nitin': 'Chicholi', 'Vishky': 'Pune', 'Vivek': 'Indore'}

## Math Module

In [1]:
import math

In [2]:
import os

In [19]:
!pip install numpy 
!pip install panda

Requirement already satisfied: numpy in c:\users\fsc\anaconda3\lib\site-packages (1.23.5)
Collecting panda
  Using cached panda-0.3.1.tar.gz (5.8 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: setuptools in c:\users\fsc\anaconda3\lib\site-packages (from panda) (65.6.3)
Requirement already satisfied: requests in c:\users\fsc\anaconda3\lib\site-packages (from panda) (2.28.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\fsc\anaconda3\lib\site-packages (from requests->panda) (3.4)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\fsc\anaconda3\lib\site-packages (from requests->panda) (2022.12.7)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\fsc\anaconda3\lib\site-packages (from requests->panda) (1.26.14)
Requirement already satisfied: charset-normalizer<3,>=2 in c:\users\fsc\anaconda3\lib\site-packages (from requests->panda) (2.0.4)
Building wheels for collected packages: panda
  Building wheel for panda (setup.py): started
  Building wheel for panda (setup.py): finished with status 'done'
  Created wheel for panda: filename=panda-0.3.1-py3-none-any.whl size=7245 sha256=b207d47934270c5b50f181462ebcd2bd4cf0581e767d12b288440999c30139ca
  Stored in directory: c:\users\fsc\appdata\local\pip\cache\wheels\d1\81\6d\0bcd1ae53614a2da2cda0de1dced1fb83050422c7cf5213c32
Successfully built panda
Installing collected packages: panda
Successfully installed panda-0.3.1

In [7]:
math.sqrt(72)

8.48528137423857

In [10]:
math.log(10)

2.302585092994046

In [14]:
math.pi

3.141592653589793

In [15]:
math.cos(90)

-0.4480736161291701

In [17]:
math.tan(30)

-6.405331196646276

In [20]:
!pip install pypdf2

Collecting pypdf2
  Downloading pypdf2-3.0.1-py3-none-any.whl (232 kB)
     -------------------------------------- 232.6/232.6 kB 2.9 MB/s eta 0:00:00
Installing collected packages: pypdf2
Successfully installed pypdf2-3.0.1

In [21]:
os.listdir()

['.ipynb_checkpoints',
 '7 May 2023.ipynb',
 'Condition & Control Statements - Loops_ 14 May 2023.ipynb',
 'Data Types - 30 April 2023.ipynb',
 'First Code.ipynb',
 'Offline Material',
 'Practice 13 & 14 May 2023 - Sets, Dictionary and Math Operations, Loops.ipynb',
 'Practice of week 29-30 April.ipynb',
 'Practice of week 7 May 2023 - Strings & Lists.ipynb',
 'Untitled.ipynb']

In [22]:
os.listdir('./')

['.ipynb_checkpoints',
 '7 May 2023.ipynb',
 'Condition & Control Statements - Loops_ 14 May 2023.ipynb',
 'Data Types - 30 April 2023.ipynb',
 'First Code.ipynb',
 'Offline Material',
 'Practice 13 & 14 May 2023 - Sets, Dictionary and Math Operations, Loops.ipynb',
 'Practice of week 29-30 April.ipynb',
 'Practice of week 7 May 2023 - Strings & Lists.ipynb',
 'Untitled.ipynb']

In [23]:
os.listdir('./../')

['!qhlogs.doc',
 '$RECYCLE.BIN',
 '.ipynb_checkpoints',
 'cfrbackup-TTOJXSAD',
 'Quick Heal',
 'System Volume Information',
 'Top Mentor Course']

In [25]:
os.listdir('./../../')

['!qhlogs.doc',
 '$RECYCLE.BIN',
 '.ipynb_checkpoints',
 'cfrbackup-TTOJXSAD',
 'Quick Heal',
 'System Volume Information',
 'Top Mentor Course']